<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>{{ 'partner.add'|trans }}</h3>
    </div>
    <form  method="post" class="form-horizontal" id="addPartnerForm" action="{{ path('partner_create') }}">
    <div class="modal-body">
      <div id="PartnerNameFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'partner.name'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="PartnerName" type="text" name="PartnerName"  id="PartnerName" >
        </div>
        <div id="PartnerNameRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>
      <div id="PartnerLogoFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'partner.logo'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="PartnerLogo" type="text" name="PartnerLogo" id="PartnerLogo">
        </div>
        <div id="PartnerLogoRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>   
      <div id="PartnerUrlFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'partner.url'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="PartnerUrl" type="text" name="PartnerUrl" id="PartnerUrl">
        </div>
        <div id="PartnerUrlRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>  
      <div id="PartnerGroupFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'partner.group'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <select id='PartnerGroup' class='select2' href="#" style='width:250px;' name="PartnerGroup">              
            {% for group in groups %}
              <option value="{{ group.getId }}">{{ group.getName }}</option>            
            {% endfor %}
          </select>
        </div>
        <div  id="PartnerGroupRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>  
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">{{ 'attribute.add' | trans }}</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true" >{{ 'help.close'|trans }}</button>
    </div>          
    </form>
  </div>
</div>
