<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id='partner_list'>
  <thead>
    <tr>
      <th>{{ 'partner.name'|trans }} </th>  
      <th>{{ 'partner.logo'|trans }} </th>                                   
      <th>{{ 'partner.url'|trans }} </th>
      <th>{{ 'partner.group'|trans }} </th>  
      {% if is_granted('ROLE_ADMIN') %}
      <th>{{ 'Action'|trans }} </th>   
      {% endif %}    
    </tr>
  </thead> 
  <tbody>
  {% for partner in partners %}     
    <tr>
      <td>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="#EditPartner" class="EditPartner" data-partnerid="{{ partner.getId }}" data-partnername="{{ partner.getName }}" data-partnerlogo="{{ partner.getLogo }}" data-partnergroupname="{{ partner.getGroup.getName }}" data-partnergroupid="{{ partner.getGroup.getId }}" data-partnerurl="{{ partner.getUrl }}" data-toggle="modal" data-target="#EditPartner" >{{ partner.getName }}</a>
        {% else %}
        {{ partner.getName }}
        {% endif %}
      </td>                    
      <td>
        <img style='vertical-align:middle;width:120px;max-height:80px;' src="{{ app.request.getSchemeAndHttpHost() }}{{ partner.getLogoUrl }}" />
      </td>
       <td>
        <a href="{{ partner.getUrl }}" target="_blank">{{ partner.getUrl }}</a>
      </td>
      <td>
        {{ partner.getGroup.getName }}
      </td>
      {% if is_granted('ROLE_ADMIN') %}
      <td>
        <a href="#EditPartner" class="EditPartner" data-partnerid="{{ partner.getId }}" data-partnername="{{ partner.getName }}" data-partnerlogo="{{ partner.getLogo }}" data-partnergroupname="{{ partner.getGroup.getName }}" data-partnergroupid="{{ partner.getGroup.getId }}" data-partnerurl="{{ partner.getUrl }}" data-toggle="modal" data-target="#EditPartner" ><img src="{{ asset('images/edit.png')}}" alt="{{ 'partner.edit'|trans }}" title="{{ 'partner.edit'|trans }}"></a>
        <a href="{{ path('partner_delete', { 'id' : partner.getId } )  }}" OnClick="return confirm('{{ 'partner.delete'|trans }} ?');"><img src="{{ asset('images/delete.png')}}" alt="{{ 'partner.delete'|trans }}" title="{{ 'partner.delete'|trans }}"></a>
      </td>
      {% endif %}
    </tr> 
  {% endfor %}
  </tbody>
</table>