<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>{{ 'partner.edit'|trans }}</h3>
    </div>
    <form  method="post" class="form-horizontal" id="editPartnerForm" action="{{ path('partner_edit') }}">
    <input type="hidden" id="PartnerEditId" name="PartnerEditId" value="">
    <div class="modal-body">
      <div id="PartnerEditNameFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'partner.name'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="PartnerName" type="text" name="PartnerEditName"  id="PartnerEditName" >
        </div>
        <div id="PartnerEditNameRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>
      <div id="PartnerEditLogoFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'partner.logo'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="PartnerLogo" type="text" name="PartnerEditLogo" id="PartnerEditLogo">
        </div>
        <div id="PartnerEditLogoRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>   
      <div id="PartnerEditUrlFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'partner.url'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="PartnerUrl" type="text" name="PartnerEditUrl" id="PartnerEditUrl">
        </div>
        <div id="PartnerEditUrlRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>  
      <div id="PartnerEditGroupFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'partner.group'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <select id='PartnerEditGroup' class='select2' href="#" style='width:250px;' name="PartnerEditGroup">              
            {% for group in groups %}
              <option value="{{ group.getId }}">{{ group.getName }}</option>            
            {% endfor %}
          </select>
        </div>
        <div  id="PartnerEditGroupRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>  
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">{{ 'attribute.edit' | trans }}</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true" >{{ 'help.close'|trans }}</button>
    </div>          
    </form>
  </div>
</div>
