{% extends 'base.html.twig' %}
 

{% block body_title %}
    {{ 'partners.list' | trans }}
{% endblock body_title %}

{% block toplinklist %}
  {% if is_granted('ROLE_ADMIN') %}
    
  {% endif %}
{% endblock toplinklist %}

{% block right_action %}
{% endblock %}
{% block body_inner %}
  <div id="classcodeadmin_content" class="col-md-12" style="display:none;">
    {% if is_granted('ROLE_ADMIN') %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddPartner" style="margin-bottom: 5px;margin-top:5px;">
        {{ 'partner.add'|trans }}
      </button>        
      
      <div id="AddPartner" class="modal fade" role="dialog" aria-labelledby="DataSourceModalHelp" aria-hidden="true">
        {% include '@ClassCode/Partner/addPartnerFormModal.html.twig' %}
      </div>      
      <div id="EditPartner" class="modal fade" role="dialog" aria-labelledby="DataSourceModalHelp" aria-hidden="true">
        {% include '@ClassCode/Partner/editPartnerFormModal.html.twig' %}
      </div>
    {% endif %}
      <div id='partner_list_div'>
         {% include '@ClassCode/Partner/ajax_list.html.twig' %}
      </div>
  </div>
  
  <div id="loader">
    <img src="{{ commons_url }}/images/pictos/loading_40.gif" alt="{{ 'Loading'|trans }}" title="{{ 'Loading'|trans }}">
  </div>

  

{% endblock %}

{% block javascripts %}
 {{ parent() }}
 <script>
   $(document).ready(function() {    
      loadDataTable();
      $('#loader').hide();
      $('#classcodeadmin_content').show();
    });
    
    function loadDataTable(){
      $('#partner_list').dataTable({
        "sDom": "<'row'<'col-md-6'li><'col-md-6'f>r>t<'row'<'col-md-6'><'col-md-6'p>>",        
        "oLanguage": {
          "oPaginate": {
            "sFirst":"{{ 'DataTable.FirstPage'|trans }}",
            "sLast": "{{ 'DataTable.LastPage'|trans }}",
            "sNext": "{{ 'DataTable.Next'|trans }}",
            "sPrevious": "{{ 'DataTable.Previous'|trans }}"                    
          },
          "sInfo": "{{ 'DataTable.Conclusion'|trans }}",
          "sLengthMenu": "{{ 'DataTable.Menu'|trans }}",
          "sSearch": "{{ 'DataTable.Search'|trans }}",       
          "sInfoThousands": " ",
          "sEmptyTable": "{{ 'DataTable.noData'|trans }}",
          "sInfoEmpty": "{{ 'DataTable.noData'|trans }}"
        },
        "aLengthMenu": [[100, 500, 1000,10000, -1], [100, 500, 1000,10000, "{{ 'DataTable.all'|trans }}"]],
        "iDisplayLength": 1000
      });
        
      jQuery(function($) {     
        $('#PartnerGroup').select2({ });
      });
             
      $('#addPartnerForm').submit(function(ev) {
        ev.preventDefault(); // to stop the form from submitting
        var success = 1;
        /* Validations go here */
        if($.trim($('#PartnerName').val()) == '') {
          $('#PartnerNameFormGroup').addClass('has-error');
          $('#PartnerNameRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#PartnerNameFormGroup').removeClass('has-error');
          $('#PartnerNameRequired').addClass('hidden');
        }
        if($.trim($('#PartnerLogo').val()) == '') {
          $('#PartnerLogoFormGroup').addClass('has-error');
          $('#PartnerLogoRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#PartnerLogoFormGroup').removeClass('has-error');
          $('#PartnerLogoRequired').addClass('hidden');
        }
        if($.trim($('#PartnerUrl').val()) == '') {
          $('#PartnerUrlFormGroup').addClass('has-error');
          $('#PartnerUrlRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#PartnerUrlFormGroup').removeClass('has-error');
          $('#PartnerUrlRequired').addClass('hidden');
        }
        if( ($.trim($('#PartnerGroup').val()) == '')  ) {
          $('#PartnerGroupFormGroup').addClass('has-error');
          $('#PartnerGroupRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#PartnerGroupFormGroup').removeClass('has-error');
          $('#PartnerGroupRequired').addClass('hidden');
        }
        if(success == 1){
          $('#AddPartner').modal('hide');
          this.submit(); // If all the validations succeeded
        }            
      });
      
      
      $(".EditPartner").click(function(){
        $("#PartnerEditId").val($(this).attr("data-partnerid"));
        $("#PartnerEditName").val($(this).attr("data-partnername"));
        $("#PartnerEditLogo").val($(this).attr("data-partnerlogo"));
        $("#PartnerEditUrl").val($(this).attr("data-partnerurl"));
        $('#PartnerEditGroup option[value="'+$(this).attr("data-partnergroupid")+'"]').prop('selected',true);
        jQuery(function($) {     
          $('#PartnerEditGroup').select2({ });
        });
      });     
      
      $('#editPartnerForm').submit(function(ev) {
        ev.preventDefault(); // to stop the form from submitting
        var success = 1;
        /* Validations go here */
        if($.trim($('#PartnerEditName').val()) == '') {
          $('#PartnerEditNameFormGroup').addClass('has-error');
          $('#PartnerEditNameRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#PartnerEditNameFormGroup').removeClass('has-error');
          $('#PartnerEditNameRequired').addClass('hidden');
        }
        if($.trim($('#PartnerEditLogo').val()) == '') {
          $('#PartnerEditLogoFormGroup').addClass('has-error');
          $('#PartnerEditLogoRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#PartnerEditLogoFormGroup').removeClass('has-error');
          $('#PartnerEditLogoRequired').addClass('hidden');
        }
        if($.trim($('#PartnerEditUrl').val()) == '') {
          $('#PartnerEditUrlFormGroup').addClass('has-error');
          $('#PartnerEditUrlRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#PartnerEditUrlFormGroup').removeClass('has-error');
          $('#PartnerEditUrlRequired').addClass('hidden');
        }
        if( ($.trim($('#PartnerEditGroup').val()) == '')  ) {
          $('#PartnerEditGroupFormGroup').addClass('has-error');
          $('#PartnerEditGroupRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#PartnerEditGroupFormGroup').removeClass('has-error');
          $('#PartnerEditGroupRequired').addClass('hidden');
        }
        if(success == 1){
          $('#EditPartner').modal('hide');
          this.submit(); // If all the validations succeeded
        }            
      }); 
    }
 </script>
{% endblock %} 