{ "partners":[ 
  {% for partner in partners %}  
    {
      "name" : "{{ partner.getName }}" ,
      "logo" : "{{ partner.getLogo }}",
      "url" : "{{ partner.getUrl }}",
      "group" : "{{ partner.getGroup.getName }}" 
    }
    {% if loop.last == false %}
    ,
    {% endif %}
  {% endfor %} 
]
}
