{% extends 'base.html.twig' %}


{% block title %} {{ "Action non autorisée"|trans }} {% endblock %}

{% block body_title %} {% endblock %}
{% block body_inner %}
  {{ parent() }} 
	<div style="text-align:center">
		<h4> {{ "access_error"|trans }} </h4>
	</div>
{% endblock body_inner %}
 
{% block javascripts %}
   	{{ parent() }} 
{% endblock %}   