{% extends 'base.html.twig' %}
 

{% block body_title %}
  {{ 'indexTitle' | trans }}
{% endblock body_title %}

{% block toplinklist %}
  {% if is_granted('ROLE_ADMIN') %}
    
  {% endif %}
{% endblock toplinklist %}

{% block right_action %}
{% endblock %}
{% block body_inner %}
  {{ 'indexContent' | trans }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

{% endblock %} 