<!DOCTYPE html>
<html>

{% set locale = app.request.getLocale() %}
{% set cur_route = app.request.attributes.get('_route') %}
{% set cur_route_params = app.request.attributes.get('_route_params') %}

<head>
    <!-- Balise pour le rendu smartphone -->
    <meta name="viewport" content="width= device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}
      {{ 'app.title' | trans }}
    {% endblock %}</title>

    {% block stylesheets %}
      <!-- JQuery UI CSS-->
    	<link href="{{ asset('js/jquery-ui/1.10.4/themes/base/jquery-ui.css') }}" rel="stylesheet" type="text/css" />
      
    	<!-- Font Awesome -->
      <link href="{{ asset('fontawesome/css/fontawesome-all.min.css') }}" rel="stylesheet" media="all" />
      <!-- Bootstrap 3.1.1 CSS -->
      <link href="{{ asset('bootstrap 3.1.1/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ asset('bootstrap 3.1.1/dist/css/bootstrap-theme.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ asset('bootstrap 3.1.1/docs/assets/css/docs.css') }}" rel="stylesheet" type="text/css" />
      <!-- editable -->
      <link rel="stylesheet" href="{{ asset('bootstrap-editable/bootstrap3/css/bootstrap-editable.css')}}" type="text/css" />
      <!-- HappyrSelect 2 -->
    	<link href="{{ asset('js/jquery/1.8.2/plugin/happyrselect2/css/select2.css') }}" rel="stylesheet" type="text/css" />
    	<!-- DataTables -->
    	<link href="{{ asset('js/jquery/1.8.2/plugin/DataTables-1.9.4/media/css/jquery.dataTables.css') }}" rel="stylesheet" type="text/css" />
      <!-- main css -->
    	<link rel="stylesheet" href="{{ asset('css/classcodeadmin.css') }}" />
    	<link rel="stylesheet" href="{{ asset('css/map.css') }}" />

    	{% block envStylesheets %}
		{% endblock %}

	{% endblock %}
	{% block favicon %}
    <link rel="shortcut icon" href="{{ asset('images/pixee-rouge-all.png') }}" />
  {% endblock %}
</head>

<body>

{% block toplinkbar %}
<nav id="toplinklist" class="nav navbar-nav navbar-default navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
    {% block toplinkbar_logo %}
    <a href="{{ app.request.getSchemeAndHttpHost() }}/classcode/" target="blank" class="pull-left toplinklogo">
      <img alt="ClassCode" src="{{ asset('images/logo-classcode.png') }}" />
    </a>
    {% endblock %}
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle toplinktoggle" data-toggle="collapse" data-target="#navbar-collapse-menuTop">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        {% block fixed_topmenubar_choices %}

        {% endblock %}
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-menuTop">
      <ul class="nav navbar-nav navbar-right">
      	{% block toplinkbar_linklist %}
        	
        {% endblock toplinkbar_linklist  %}
        {% block langage %}
          {% if cur_route %}
           
          {% endif %}
        {% endblock langage %}
        {% block help %}
         
        {% endblock help %}
        {% block profil %}
        <li id="role">
          <span>
            {% if app.user %}
              {% if is_granted('ROLE_ADMIN') %}
                {{ 'Administrateur'|trans }}
              {% elseif is_granted('ROLE_USER') %}
                {{ 'Utilisateur'|trans }}
              {% endif %}
            {% else %}
              {{ 'Annonyme' | trans }}
            {% endif %}
          </span>
        </li>
        {% endblock profil %}
    	  {% block toplinkbar_deconnexion %}
    	  
        {% if app.user %}
    			{% set userroles = "" %}
			    {% for role in app.user.roles %}
				    {% set userroles = userroles ~ role ~ " " %}
			    {% endfor %}

				<li id="username">
					<span title="{{ userroles }}">{{ app.user.username }}</span>
    	  </li>
				<li>
				  <a title='{{ "Se déconnecter"|trans }}' href="{{ app.request.getSchemeAndHttpHost() ~ app.request.baseUrl }}/logout" >
            <span class="fa fa-power-off fa-lg"></span>
          </a>
				</li>
				{% else %}
				<li>
          <a title='{{ "Se connecter"|trans }}' href="{{ app.request.getSchemeAndHttpHost() ~ app.request.baseUrl }}/login" >
            <span class="fa fa-power-off fa-lg"></span>
          </a>
        </li>
			  {% endif %}
         {% endblock %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</nav>
{% endblock %}

<div id="titlebar" class="container-fluid">
{% block titlebar %}
<div id="logo" class="row">
  <div class="hidden-xs hidden-sm col-md-2" style="min-width:150px;">
    {% block titlebar_logo %}
      {% block fontAwesomeLogo %}
        <div id="fontAwesomeLogo" class="fa fa-book" ></div>
      {% endblock fontAwesomeLogo %}
    {% endblock %}
  </div>
  <div class="col-xs-12 col-md-9">
    <div class="row">
      <h1>
        {% block application_title %}
          {{ 'app.title' | trans }}
        {% endblock %}
      </h1>
    </div>
    <div class="row">
      <p>
      {% block application_subtitle %}
        {{ 'app.subtitle' | trans }}
      {% endblock %}
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block menubar %}
<nav id="menubar" class="navbar navbar-default">
  <div class="container-fluid navbar-inner">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      {% block collapsed_menu %}
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-menu1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      {% endblock %}
      {% block fixed_menubar_choices %}
      <ul class="nav navbar-nav">
        {% block home %}
        <li>
          <a class="menubarfontawesome navbar-brand" href="{{ app.request.getSchemeAndHttpHost() ~ app.request.baseUrl }}" title="{{ "Retour à l'accueil"|trans }}"><span class="fa fa-home fa-lg"></span></a>
        </li>
        {% endblock home %}
      </ul>
      {% endblock %}
    </div>
    {% block menubar_search %}

    {% endblock %}
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-menu1">
      <ul class="nav navbar-nav">
      	{% block menubar_choices %}
      	<li><a href="{{ path('groupspage')}}">{{ 'Groupes' | trans }}</a></li>
        <li><a href="{{ path('partnerspage')}}">{{ 'Partenaires' | trans }}</a></li>
        <li><a href="{{ path('structurespage')}}">{{ 'Structures' | trans }}</a></li>
        <li><a href="{{ path('coordinationspage')}}">{{ 'Coordinations' | trans }}</a></li>
        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('peoplepage')}}">{{ 'Utilisateurs' | trans }}</a></li>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
        <li><a href="{{ path('meetingspage')}}">{{ 'Rencontres' | trans }}</a></li>
        {% endif %}
        {% endblock %}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
{%  endblock %}

</div>



{% block footer %}
  <footer class="footer">
    <div class="nav navbar-nav navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <ul class="list-inline pull-left">
            
          </ul>
          <ul class="list-inline pull-right">
           {% block footerlist %}
           <li><a target="_blank" href="https://helpdesk.inria.fr/">Direction des Systèmes d'Information Inria</a></li>
           {% endblock %}
          </ul>
        </div>
      </div>
    </div>
  </footer>
{%  endblock %}

<div id="body_container" class="container-fluid">
  <div id="ariane_link">
    {% block arianelink %}

    {% endblock %}
  </div>
  <div class="row">    
    <div class="pull-right" style="margin-right:15px;">
    {% block flash_message %}
      <div id="flash_message">
        {#% for key, flash in app.session.getFlashes() %}
          {% if key == 'error' %}
              <span class="alert alert-error">{{ flash }}</span>
            {% else %}
              <span class="alert alert-success">{{ flash}}</span>
            {% endif %}
        {% endfor %#}
        {% for key, flashMessages in app.session.flashbag.all() %}
          {% for flashMessage in flashMessages %}
                <div class="{{ key }} alert alert-{{ key }}">
                  {{ flashMessage }}
                </div>
          {% endfor %}
        {% endfor %}
      </div>
    {% endblock %}
    </div>

   
    {% block body %}
      <div class="col-md-12">
        <h2>
          {% block body_title %}
            Inserer ici le contenu de l'application
          {% endblock %}
        </h2>
        {% block body_inner %}
        {% endblock %}
      </div>
      {% block fixed_buttons %}
      {% endblock %}
    {% endblock %}

  </div>
</div>

{% block javascripts %}
  <!-- JQuery UI JS-->
  <script src="{{ asset('js/jquery/1.11.0/jquery-1.11.0.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/jquery/1.8.2/plugin/jquery-json/jquery.json-2.4.js') }}" type="text/javascript"></script>
  <!-- JQuery UI JS-->
  <script src="{{ asset('js/jquery-ui/1.10.4/ui/jquery-ui.js') }}" type="text/javascript"></script>
  <!-- Bootstrap 3.1.1 JS -->
  <script src="{{ asset('bootstrap 3.1.1/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
  <!-- Select 2 JS -->
  {% block select2_js %}
    <script src="{{ asset('js/jquery/1.8.2/plugin/happyrselect2/js/select2.min.js') }}" type="text/javascript"></script>
    {% if '/fr/' in app.request.getPathInfo %}
      <script src="{{ asset('js/jquery/1.8.2/plugin/happyrselect2/js/select2_locale_fr.js') }}" type="text/javascript"></script>
    {% endif %}
  {% endblock select2_js %}
  <!-- editable -->
  <script src="{{ asset('bootstrap-editable/bootstrap3/js/bootstrap-editable.min.js') }}" type="text/javascript"></script> 
  <!-- Datatables JS -->
  <script src="{{ asset('js/jquery/1.8.2/plugin/DataTables-1.9.4/media/js/jquery.dataTables.js') }}" type="text/javascript"></script>
  <!-- Datepicker JS -->
  <script src="{{ asset('js/jquery-ui/1.10.4/ui/i18n/jquery.ui.datepicker-fr.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/jquery-ui/1.10.4/ui/i18n/jquery.ui.datepicker-en-GB.js') }}" type="text/javascript"></script>

  {% block envJavascripts %}
  {% endblock %}
{% endblock %}

</body>
</html>
