<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>{{ 'structure.add'|trans }}</h3>
    </div>
    <form  method="post" class="form-horizontal" id="addStructureForm" action="{{ path('structure_create') }}">
    <div class="modal-body">
      <div id="StructureTypeFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.type'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required readonly class="form-control" title="StructureType" type="text" name="StructureType"  id="StructureType" value="Partenaire Classcode" >
        </div>
        <div id="StructureTypeRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>
      <div id="StructureNameFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.name'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="StructureName" type="text" name="StructureName"  id="StructureName" >
        </div>
        <div id="StructureNameRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>
      <div id="StructureLogoFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.logo'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="StructureLogo" type="text" name="StructureLogo" id="StructureLogo">
        </div>
        <div id="StructureLogoRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>   
      <div id="StructureUrlFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.url'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="StructureUrl" type="text" name="StructureUrl" id="StructureUrl">
        </div>
        <div id="StructurerUrlRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>  
      <div id="StructureWhoFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.who'|trans }}</label>
        <div class="col-sm-9">
          <input  class="form-control" title="StructureWho" type="text" name="StructureWho" id="StructureWho">
        </div>
      </div> 
      <div id="StructureEmailFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.email'|trans }}</label>
        <div class="col-sm-9">
          <input  class="form-control" title="StructureEmail" type="text" name="StructureEmail" id="StructureEmail">
        </div>
      </div> 
      <div id="StructureAddressFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.address'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="StructureAddress" type="text" name="StructureAddress" id="StructureAddress">
        </div>
        <div id="StructurerAddressRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div> 
      <div id="StructureGeolocFormGroup" class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-5">
          <a id="StructureGeoloc" class="btn btn-primary">{{ 'geoloc.compute' | trans }}</a>
        </div>
        <div class="col-sm-4">
          <span class="StructureGeolocResult btn"></span>            
        </div>
      </div>
      <div id="StructureLatFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.lat'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="StructureLat" type="text" name="StructureLat" id="StructureLat">
        </div>
        <div id="StructureLatRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div> 
      <div id="StructureLongFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.long'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="StructureLong" type="text" name="StructureLong" id="StructureLong">
        </div>
        <div id="StructureLongRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div> 
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">{{ 'attribute.add' | trans }}</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true" >{{ 'help.close'|trans }}</button>
    </div>          
    </form>
  </div>
</div>
