<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id='structure_list'>
  <thead>
    <tr>
      <th>{{ 'structure.name'|trans }} </th>  
      <th>{{ 'structure.logo'|trans }} </th>                                   
      <th>{{ 'structure.url'|trans }} </th>
      <th>{{ 'structure.who'|trans }} </th>  
      <th>{{ 'structure.email'|trans }} </th>
      <th>{{ 'structure.address'|trans }} </th>
      {% if is_granted('ROLE_USER') %}
      <th>{{ 'Action'|trans }} </th>
      {% endif %}       
    </tr>
  </thead> 
  <tbody>
  {% for structure in structures %}     
    <tr>
      <td>
        {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_USER') and ((app.user.userName == structure.getUpdatedBy))) %}
          <a href="#EditStructure" class="EditStructure" data-structureid="{{ structure.getId }}" data-structurename="{{ structure.getName }}" data-structuretype="{{ structure.getMainType }}" data-structurelogo="{{ structure.getLogo }}" data-structurewho="{{ structure.getWho }}" data-structureemail="{{ structure.getEmail}}" data-structureurl="{{ structure.getUrl }}" data-structureaddress="{{ structure.getAddress }}" data-structurelat="{{ structure.getLatitude }}" data-structurelong="{{ structure.getLongitude }}" data-toggle="modal" data-target="#EditStructure" >{{ structure.getName }}</a>
        {% else %}
          {{ structure.getName }}
        {% endif %}
      </td>                    
      <td>
        <a href="{{ structure.getLogo }}" target="_blank"><img style='vertical-align:middle;width:120px;max-height:80px;' src="{{ structure.getLogo }}" /></a>
      </td>
       <td>
        <a href="{{ structure.getUrl }}" target="_blank">{{ structure.getUrl }}</a>
      </td>
      <td>
        {{ structure.getWho }}
      </td>
      <td>
        {{ structure.getEmail }}
      </td>
      <td>
        {{ structure.getAddress }}
      </td>
      {% if is_granted('ROLE_USER') %}
      <td>
        {% if is_granted('ROLE_ADMIN') or (app.user.userName == structure.getUpdatedBy) %}
          <a href="#EditStructure" class="EditStructure" data-structureid="{{ structure.getId }}" data-structurename="{{ structure.getName }}" data-structuretype="{{ structure.getMainType }}" data-structurelogo="{{ structure.getLogo }}" data-structurewho="{{ structure.getWho }}" data-structureemail="{{ structure.getEmail}}" data-structureurl="{{ structure.getUrl }}" data-structureaddress="{{ structure.getAddress }}" data-structurelat="{{ structure.getLatitude }}" data-structurelong="{{ structure.getLongitude }}" data-toggle="modal" data-target="#EditStructure"  ><img src="{{ asset('images/edit.png')}}" alt="{{ 'structure.edit'|trans }}" title="{{ 'structure.edit'|trans }}"></a>
          <a href="{{ path('structure_delete', { 'id' : structure.getId } )  }}" OnClick="return confirm('{{ 'structure.delete'|trans }} ?');"><img src="{{ asset('images/delete.png')}}" alt="{{ 'structure.delete'|trans }}" title="{{ 'structure.delete'|trans }}"></a>
        {% endif %}
      </td>
      {% endif %}
    </tr> 
  {% endfor %}
  </tbody>
</table>