<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>{{ 'structure.edit'|trans }}</h3>
    </div>
    <form  method="post" class="form-horizontal" id="editStructureForm" action="{{ path('structure_edit') }}">
    <input type="hidden" id="StructureEditId" name="StructureEditId" value="">
    <div class="modal-body">
      <div id="StructureEditTypeFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.type'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required readonly class="form-control" title="StructureType" type="text" name="StructureEditType"  id="StructureEditType" >
        </div>
        <div id="StructureTypeRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>
      <div id="StructureEditNameFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.name'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="StructureName" type="text" name="StructureEditName"  id="StructureEditName" >
        </div>
        <div id="StructureEditNameRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>
      <div id="StructureEditLogoFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.logo'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="StructureLogo" type="text" name="StructureEditLogo" id="StructureEditLogo">
        </div>
        <div id="StructureEditLogoRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>   
      <div id="StructureEditUrlFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.url'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="StructureUrl" type="text" name="StructureEditUrl" id="StructureEditUrl">
        </div>
        <div id="StructurerEditUrlRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>  
      <div id="StructureEditWhoFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.who'|trans }}</label>
        <div class="col-sm-9">
          <input class="form-control" title="StructureWho" type="text" name="StructureEditWho" id="StructureEditWho">
        </div>
      </div> 
      <div id="StructureEditEmailFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.email'|trans }}</label>
        <div class="col-sm-9">
          <input class="form-control" title="StructureEmail" type="text" name="StructureEditEmail" id="StructureEditEmail">
        </div>
      </div> 
      <div id="StructureEditAddressFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.address'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="StructureAddress" type="text" name="StructureEditAddress" id="StructureEditAddress">
        </div>
        <div id="StructurerEditAddressRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div> 
      <div id="StructureEditGeolocFormGroup" class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-5">
          <a id="StructureEditGeoloc" class="btn btn-primary">{{ 'geoloc.compute' | trans }}</a>
        </div>
        <div class="col-sm-4">
          <span class="StructureGeolocResult btn"></span>            
        </div>
      </div>
      <div id="StructureEditLatFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.lat'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="StructureLat" type="text" name="StructureEditLat" id="StructureEditLat">
        </div>
        <div id="StructureEditLatRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div> 
      <div id="StructureEditLongFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'structure.long'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="StructureLong" type="text" name="StructureEditLong" id="StructureEditLong">
        </div>
        <div id="StructureEditLongRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div> 
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">{{ 'attribute.edit' | trans }}</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true" >{{ 'help.close'|trans }}</button>
    </div>          
    </form>
  </div>
</div>
