<!DOCTYPE html>
<html>

<head>
  <!-- Balise pour le rendu smartphone -->
  <meta name="viewport" content="width= device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ 'Map' | trans }}</title>
  <!-- JQuery UI CSS-->
  <link href="{{ asset('js/jquery-ui/1.10.4/themes/base/jquery-ui.css') }}" rel="stylesheet" type="text/css" />  
  <!-- Font Awesome -->
  <link href="{{ asset('fontawesome/css/fontawesome-all.min.css') }}" rel="stylesheet" media="all" />
  <!-- Bootstrap 3.1.1 CSS -->
  <link href="{{ asset('bootstrap 3.1.1/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('bootstrap 3.1.1/dist/css/bootstrap-theme.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('bootstrap 3.1.1/docs/assets/css/docs.css') }}" rel="stylesheet" type="text/css" />
  <!-- main css -->
  <link rel="stylesheet" href="{{ asset('css/map.css') }}" />
  <!-- Open Street Map css -->        
  <link rel="stylesheet" href="{{ asset('js/leaflet-1.3.1/leaflet.css') }}" />
  <link rel="stylesheet" href="{{ asset('js/leaflet-1.3.1/plugins/leaflet.markercluster-1.3.0/dist/MarkerCluster.Default.css') }}" />        
  <link rel="shortcut icon" href="{{ asset('images/pixee-rouge-all.png') }}" />
</head>

<body>
  <div id="classcodeadmin_content" class="col-md-12" style="display:none;">
    <div class="col-sm-12 map-wrapper">
      <div id="structuresMap" class="osMap" style="height:400px;"></div>
      <div id="classCodeMapOverlay">     
        <div id="classCodeMapOverlayTitle">           
          <span id="classCodeMapOverlayTitleContent">Retour</span>
          <a id="classCodeMapOverlayTitleLink" class="backCriteriaLink">
            <span class="returnIcon"></span>
          </a>
        </div>
        <div id="classCodeMapOverlayContent">   
        </div>  
      </div>           
    </div>
  </div>
 
  <div id="loader">
    <img src="{{ commons_url }}/images/pictos/loading_40.gif" alt="{{ 'Loading'|trans }}" title="{{ 'Loading'|trans }}">
  </div> 

  <!-- JQuery UI JS-->
  <script src="{{ asset('js/jquery/1.11.0/jquery-1.11.0.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/jquery/1.8.2/plugin/jquery-json/jquery.json-2.4.js') }}" type="text/javascript"></script>
  <!-- JQuery UI JS-->
  <script src="{{ asset('js/jquery-ui/1.10.4/ui/jquery-ui.js') }}" type="text/javascript"></script>
  <!-- Bootstrap 3.1.1 JS -->
  <script src="{{ asset('bootstrap 3.1.1/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
  <!-- OSM JS -->
  <script type="text/javascript" src="{{ asset('js/leaflet-1.3.1/leaflet.js') }}"></script> 
  <script type="text/javascript" src="{{ asset('js/leaflet-1.3.1/plugins/leaflet.markercluster-1.3.0/dist/leaflet.markercluster.js') }}"></script>
  <script>
    var overlayShown = false;
    var lastSelectedMarker = false;
    $(document).ready(function() {    
      $('#loader').hide();
      $('#classcodeadmin_content').show();
      //map
      var structureMap = L.map('structuresMap',{maxZoom: 18}).setView([46.52863469527167, 2.43896484375], 5),
          markers = L.markerClusterGroup({
                spiderfyOnMaxZoom: true,
                showCoverageOnHover: false,
                zoomToBoundsOnClick: true,
                polygonOptions: {
                    fillColor: '#FFFFFF',
                    color: '#FFFFFF',
                    weight: 0.5,
                    opacity: 1,
                    fillOpacity: 0.5
                    }
            }),
            lat = "",
            lon = "",
            LeafIcon = L.Icon.extend({
                options: {
                    iconSize:     [38, 95],
                    shadowSize:   [50, 64],
                    iconAnchor:   [22, 94],
                    shadowAnchor: [4, 62],
                    popupAnchor:  [-3, -76]
                }
            });
            
      var markerDetail = "";
      var lat;
      var lon;
      var structureArrayMarker = [];
      var structureContentString = '';
      
      
      {% for structure in structures %} 
        lat = "{{ structure.getLatitude }}" ;
        lon = "{{ structure.getLongitude }}" ;
        structureContentString= '';
        structureContentString +=  '<div class=""><b>'+"{{ structure.getMainType }}"+'</b>';
        {% if structure.getSecondaryType %}
           structureContentString += ' - ' +"{{ structure.getSecondaryType }}"; 
        {% endif %}
        structureContentString +='</div>';
        structureLogo = "{{ structure.getLogo }}";
        if(structureLogo != ""){
          structureContentString += '<div class="classCodeMapOverlayContentLogo"><img src="'+structureLogo+'"></div>';
        }       
        structureContentString +=  '<br>';
        structureWho = "{{ structure.getWho }}";
        if (structureWho != ""){
          structureContentString+=  '<div class="classCodeMapOverlayContentTitle">Contact</div><div class="classCodeMapOverlayEmphasis"><b>'+structureWho+'</b></div>';
        }
        structureAddress = "{{ structure.getAddress }}";
        if (structureAddress != ""){
          structureContentString+=  '<div>'+structureAddress+'</div>';
        }
        structureEmail = "{{ structure.getEmail }}";
        if (structureEmail != ""){
          structureContentString+=  '<div><a href="mailto:'+structureEmail+'" target="_blank">'+structureEmail+'</a></div>';
        }
        structureUrl = "{{ structure.getUrl }}";
        if(structureUrl != ""){
          structureContentString+=  '<div><a target="_blank" href="'+structureUrl+'">'+structureUrl+'</a></div>';
        }
        
        if((lat !="0")&&(lon != "0")){      
          structureArrayMarker[{{ loop.index0 }}] = L.marker(L.latLng(lat, lon), { title: '{{ structure.getName }}', id: '{{ loop.index0 }}', desc: structureContentString } );
          markers.addLayer(structureArrayMarker[{{ loop.index0 }}]);
          structureArrayMarker[{{ loop.index0 }}].on('click',function(event){clickMarker(this,structureMap);});     
        }
      {% endfor %}
      
      
      structureMap.addLayer(markers);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(structureMap);
      
      jQuery("#classCodeMapOverlayTitleLink").click(function() {hideMapOverlay();});
    });
    
    function clickMarker(marker,map){
      var overlay = document.getElementById('classCodeMapOverlay');
      var overlayTitle = document.getElementById('classCodeMapOverlayTitleContent');
      var overlayContent = document.getElementById('classCodeMapOverlayContent');
      if (!overlayShown) {
        overlayTitle.innerHTML = marker.options.title;
        overlayContent.innerHTML = marker.options.desc;
        
        jQuery("#classCodeMapOverlay").toggle("slow");
        overlayShown = marker.options.id;
        lastSelectedMarker = marker.options.id;
      }else {
        if (overlayShown != marker.options.id) {
          overlayTitle.innerHTML = marker.options.title;
          overlayContent.innerHTML = marker.options.desc;
   
          overlayShown = marker.options.id;
          lastSelectedMarker = marker.options.id;
        }else{
          hideMapOverlay();
        }
      }
      //on centre la map sur le marker
      map.panTo(marker.getLatLng());
    }
    
    function hideMapOverlay(){
      jQuery("#classCodeMapOverlay").toggle("slow");
      overlayShown = false;
      return false;
    }
  </script>
</body>
</html> 