{% extends 'base.html.twig' %}
 
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('js/leaflet-1.3.1/leaflet.css') }}" />
  <link rel="stylesheet" href="{{ asset('js/leaflet-1.3.1/plugins/leaflet.markercluster-1.3.0/dist/MarkerCluster.Default.css') }}" />    
{% endblock %}

{% block body_title %}
    {{ 'structures.list' | trans }}
{% endblock body_title %}

{% block toplinklist %}
  {% if is_granted('ROLE_ADMIN') %}
    
  {% endif %}
{% endblock toplinklist %}

{% block right_action %}
{% endblock %}
{% block body_inner %}
  <div id="classcodeadmin_content" class="col-md-12" style="display:none;">
    {% if is_granted('ROLE_USER') %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddStructure" style="margin-bottom: 5px;margin-top:5px;">
        {{ 'structure.add'|trans }}
      </button>        
      
      <div id="AddStructure" class="modal fade" role="dialog" aria-labelledby="DataSourceModalHelp" aria-hidden="true">
        {% include '@ClassCode/Structure/addStructureFormModal.html.twig' %}
      </div>
      <div id="EditStructure" class="modal fade" role="dialog" aria-labelledby="DataSourceModalHelp" aria-hidden="true">
        {% include '@ClassCode/Structure/editStructureFormModal.html.twig' %}
      </div>
    {% else %}
      <p class="alert alert-warning">{{ 'structure.login'|trans }}</p>
    {% endif %}
    <div class="col-sm-12 map-wrapper">
      <div id="structuresMap" class="osMap" style="height:400px;"></div>
      <div id="classCodeMapOverlay">     
        <div id="classCodeMapOverlayTitle">           
          <span id="classCodeMapOverlayTitleContent">Retour</span>
          <a id="classCodeMapOverlayTitleLink" class="backCriteriaLink">
            <span class="returnIcon"></span>
          </a>
        </div>
        <div id="classCodeMapOverlayContent">   
        </div>  
      </div>           
    </div>
      <div id='structure_list_div'>
         {% include '@ClassCode/Structure/ajax_list.html.twig' %}
      </div>
  </div>
  
  <div id="loader">
    <img src="{{ commons_url }}/images/pictos/loading_40.gif" alt="{{ 'Loading'|trans }}" title="{{ 'Loading'|trans }}">
  </div> 

{% endblock %}

{% block javascripts %}
 {{ parent() }}
 <script type="text/javascript" src="{{ asset('js/leaflet-1.3.1/leaflet.js') }}"></script> 
 <script type="text/javascript" src="{{ asset('js/leaflet-1.3.1/plugins/leaflet.markercluster-1.3.0/dist/leaflet.markercluster.js') }}"></script>
 <script>
   var overlayShown = false;
   var lastSelectedMarker = false;
   $(document).ready(function() {    
      loadDataTable();
      $('#loader').hide();
      $('#classcodeadmin_content').show();
      //map
      var structureMap = L.map('structuresMap',{maxZoom: 18}).setView([46.52863469527167, 2.43896484375], 5),
          markers = L.markerClusterGroup({
                spiderfyOnMaxZoom: true,
                showCoverageOnHover: false,
                zoomToBoundsOnClick: true,
                polygonOptions: {
                    fillColor: '#FFFFFF',
                    color: '#FFFFFF',
                    weight: 0.5,
                    opacity: 1,
                    fillOpacity: 0.5
                    }
            }),
            lat = "",
            lon = "",
            LeafIcon = L.Icon.extend({
                options: {
                    iconSize:     [38, 95],
                    shadowSize:   [50, 64],
                    iconAnchor:   [22, 94],
                    shadowAnchor: [4, 62],
                    popupAnchor:  [-3, -76]
                }
            });
            
      var markerDetail = "";
      var lat;
      var lon;
      var structureArrayMarker = [];
      var structureContentString = '';
      {% for structure in structures %} 
        lat = "{{ structure.getLatitude }}" ;
        lon = "{{ structure.getLongitude }}" ;
        structureContentString= '';
        structureLogo = "{{ structure.getLogo }}";
        if(structureLogo != ""){
          structureContentString = '<div class="classCodeMapOverlayContentLogo"><img src="'+structureLogo+'"></div>';
        }       
        structureContentString +=  '<br>';
        structureWho = "{{ structure.getWho }}";
        if (structureWho != ""){
          structureContentString+=  '<div class="classCodeMapOverlayContentTitle">Contact</div><div class="classCodeMapOverlayEmphasis"><b>'+structureWho+'</b></div>';
        }
        structureAddress = "{{ structure.getAddress }}";
        if (structureAddress != ""){
          structureContentString+=  '<div>'+structureAddress+'</div>';
        }
        structureEmail = "{{ structure.getEmail }}";
        if (structureEmail != ""){
          structureContentString+=  '<div><a href="mailto:'+structureEmail+'" target="_blank">'+structureEmail+'</a></div>';
        }
        structureUrl = "{{ structure.getUrl }}";
        if(structureUrl != ""){
          structureContentString+=  '<div><a target="_blank" href="'+structureUrl+'">'+structureUrl+'</a></div>';
        }
        
        if((lat !="0")&&(lon != "0")){      
          structureArrayMarker[{{ loop.index0 }}] = L.marker(L.latLng(lat, lon), { title: '{{ structure.getName }}', id: '{{ loop.index0 }}', desc: structureContentString } );
          markers.addLayer(structureArrayMarker[{{ loop.index0 }}]);
          structureArrayMarker[{{ loop.index0 }}].on('click',function(event){clickMarker(this,structureMap);});     
        }
      {% endfor %}
      structureMap.addLayer(markers);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(structureMap);
      
      jQuery("#classCodeMapOverlayTitleLink").click(function() {hideMapOverlay();});
    });
    
    
    function loadDataTable(){
      $('#structure_list').dataTable({
        "sDom": "<'row'<'col-md-6'li><'col-md-6'f>r>t<'row'<'col-md-6'><'col-md-6'p>>",        
        "oLanguage": {
          "oPaginate": {
            "sFirst":"{{ 'DataTable.FirstPage'|trans }}",
            "sLast": "{{ 'DataTable.LastPage'|trans }}",
            "sNext": "{{ 'DataTable.Next'|trans }}",
            "sPrevious": "{{ 'DataTable.Previous'|trans }}"                    
          },
          "sInfo": "{{ 'DataTable.Conclusion'|trans }}",
          "sLengthMenu": "{{ 'DataTable.Menu'|trans }}",
          "sSearch": "{{ 'DataTable.Search'|trans }}",       
          "sInfoThousands": " ",
          "sEmptyTable": "{{ 'DataTable.noData'|trans }}",
          "sInfoEmpty": "{{ 'DataTable.noData'|trans }}"
        },
        "aLengthMenu": [[100, 500, 1000,10000, -1], [100, 500, 1000,10000, "{{ 'DataTable.all'|trans }}"]],
        "iDisplayLength": 1000
      });
                     
      $('#addStructureForm').submit(function(ev) {
        ev.preventDefault(); // to stop the form from submitting
        var success = 1;
        /* Validations go here */
        if($.trim($('#StructureName').val()) == '') {
          $('#StructureNameFormGroup').addClass('has-error');
          $('#StructureNameRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#StructureNameFormGroup').removeClass('has-error');
          $('#StructureNameRequired').addClass('hidden');
        }
        if($.trim($('#StructureLogo').val()) == '') {
          $('#StructureLogoFormGroup').addClass('has-error');
          $('#StructureLogoRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#StructureLogoFormGroup').removeClass('has-error');
          $('#StructureLogoRequired').addClass('hidden');
        }
        if($.trim($('#StructureUrl').val()) == '') {
          $('#StructureUrlFormGroup').addClass('has-error');
          $('#StructureUrlRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#StructureUrlFormGroup').removeClass('has-error');
          $('#StructureUrlRequired').addClass('hidden');
        }
        if( ($.trim($('#StructureAddress').val()) == '')  ) {
          $('#StructureAddressFormGroup').addClass('has-error');
          $('#StructureAddressRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#StructureAddressFormGroup').removeClass('has-error');
          $('#StructureAddressRequired').addClass('hidden');
        }
        if( ($.trim($('#StructureLat').val()) == '')  ) {
          $('#StructureLatFormGroup').addClass('has-error');
          $('#StructureLatRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#StructureLatFormGroup').removeClass('has-error');
          $('#StructureLatRequired').addClass('hidden');
        }
        if( ($.trim($('#StructureLong').val()) == '')  ) {
          $('#StructureLongFormGroup').addClass('has-error');
          $('#StructureLongRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#StructureLongFormGroup').removeClass('has-error');
          $('#StructureLongRequired').addClass('hidden');
        }
        if(success == 1){
          $('#AddStructure').modal('hide');
          this.submit(); // If all the validations succeeded
        }            
      });
      
      
      $(".EditStructure").click(function(){
        $("#StructureEditId").val($(this).attr("data-structureid"));
        $("#StructureEditType").val($(this).attr("data-structuretype"));
        $("#StructureEditName").val($(this).attr("data-structurename"));
        $("#StructureEditLogo").val($(this).attr("data-structurelogo"));
        $("#StructureEditUrl").val($(this).attr("data-structureurl"));
        $("#StructureEditWho").val($(this).attr("data-structurewho"));
        $("#StructureEditEmail").val($(this).attr("data-structureemail"));
        $("#StructureEditAddress").val($(this).attr("data-structureaddress"));
        $("#StructureEditLat").val($(this).attr("data-structurelat"));
        $("#StructureEditLong").val($(this).attr("data-structurelong"));
        
      
      });     
      
      $('#editStructureForm').submit(function(ev) {
        ev.preventDefault(); // to stop the form from submitting
        var success = 1;
        /* Validations go here */
        if($.trim($('#StructureEditName').val()) == '') {
          $('#StructureEditNameFormGroup').addClass('has-error');
          $('#StructureEditNameRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#StructureEditNameFormGroup').removeClass('has-error');
          $('#StructureEditNameRequired').addClass('hidden');
        }
        if($.trim($('#StructureEditLogo').val()) == '') {
          $('#StructureEditLogoFormGroup').addClass('has-error');
          $('#StructureEditLogoRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#StructureEditLogoFormGroup').removeClass('has-error');
          $('#StructureEditLogoRequired').addClass('hidden');
        }
        if($.trim($('#StructureEditUrl').val()) == '') {
          $('#StructureEditUrlFormGroup').addClass('has-error');
          $('#StructureEditUrlRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#StructureEditUrlFormGroup').removeClass('has-error');
          $('#StructureEditUrlRequired').addClass('hidden');
        }
        if($.trim($('#StructureEditAddress').val()) == '') {
          $('#StructureEditAddressFormGroup').addClass('has-error');
          $('#StructureEditAddressRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#StructureEditAddressFormGroup').removeClass('has-error');
          $('#StructureEditAddressRequired').addClass('hidden');
        }
        if($.trim($('#StructureEditLat').val()) == '') {
          $('#StructureEditLatFormGroup').addClass('has-error');
          $('#StructureEditLatRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#StructureEditLatFormGroup').removeClass('has-error');
          $('#StructureEditLatRequired').addClass('hidden');
        }
        if($.trim($('#StructureEditLong').val()) == '') {
          $('#StructureEditLongFormGroup').addClass('has-error');
          $('#StructureEditLongRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#StructureEditLongFormGroup').removeClass('has-error');
          $('#StructureEditLongRequired').addClass('hidden');
        }
        if(success == 1){
          $('#EditStructure').modal('hide');
          this.submit(); // If all the validations succeeded
        }            
      }); 
    }
    $("#StructureGeoloc").click(function(){
      var latInput = 'StructureLat';
      var lonInput = 'StructureLong';
      computeGeoLoc($.trim($('#StructureAddress').val()), latInput,lonInput);  
    }); 
      
    $("#StructureEditGeoloc").click(function(){
      var latInput = 'StructureEditLat';
      var lonInput = 'StructureEditLong';
      geolocTab = computeGeoLoc($.trim($('#StructureEditAddress').val()),latInput,lonInput);      
    });   
    
    function computeGeoLoc(location,latInput,lonInput){
      var geocode = 'https://nominatim.openstreetmap.org/search.php?format=json&q=' + encodeURI(location);
      // use jQuery to call the API and get the JSON results
      var latlng;
      $.ajax({
        type: 'GET',
        url: geocode,
        dataType: 'json',
        success: function(data){          
          if((typeof data[0] !== "undefined")){
            $('.StructureGeolocResult').removeClass( "alert-error" ).addClass( "alert-success" );
            $('.StructureGeolocResult').html("{{ 'GeolocCompute'|trans }}").fadeIn().delay(3200).fadeOut(300);
            var lat = data[0]["lat"];
            var lon = data[0]["lon"];      
            $("#"+latInput).val(lat);          
            $("#"+lonInput).val(lon);     
          }else{
            $('.StructureGeolocResult').removeClass( "alert-success" ).addClass( "alert-error" );
            $('.StructureGeolocResult').html("{{ 'GeolocComputeError'|trans }}").fadeIn().delay(3200).fadeOut(300);
          }
        }        
      });
    }
      
    function clickMarker(marker,map){
      var overlay = document.getElementById('classCodeMapOverlay');
      var overlayTitle = document.getElementById('classCodeMapOverlayTitleContent');
      var overlayContent = document.getElementById('classCodeMapOverlayContent');
      if (!overlayShown) {
        overlayTitle.innerHTML = marker.options.title;
        overlayContent.innerHTML = marker.options.desc;
        
        jQuery("#classCodeMapOverlay").toggle("slow");
        overlayShown = marker.options.id;
        lastSelectedMarker = marker.options.id;
      }else {
        if (overlayShown != marker.options.id) {
          overlayTitle.innerHTML = marker.options.title;
          overlayContent.innerHTML = marker.options.desc;
   
          overlayShown = marker.options.id;
          lastSelectedMarker = marker.options.id;
        }else{
          hideMapOverlay();
        }
      }
      //on centre la map sur le marker
      map.panTo(marker.getLatLng());
    }
    
    function hideMapOverlay(){
      jQuery("#classCodeMapOverlay").toggle("slow");
      overlayShown = false;
      return false;
    }
 </script>
{% endblock %} 