{ "structures":[ 
  {% for structure in structures %}  
    {
      "type" : "{{ structure.getMainType }}" ,
      "name" : "{{ structure.getName }}" ,
      "logo" : "{{ structure.getLogo }}",
      "url" : "{{ structure.getUrl }}",
      "who" : "{{ structure.getWho }}",
      "address" : "{{ structure.getAddress }}",
      "location" : { "lat" : "{{structure.getLatitude }}" , "lng" :"{{ structure.getLongitude}}" },
      "email" : "{{structure.getEmail }}",
      "source" : "{{structure.getDataSource }}"
    }
    {% if loop.last == false %}
    ,
    {% endif %}
  {% endfor %} 
]
}
