<div style="background-color:#fefefe;padding:5px;width:740px;margin:0px auto 0px auto;" class="logos_structures">
  {% for logo in structuresLogos %} 
    <a href='{{ logo }}'><img style='vertical-align:middle;width:120px;max-height:80px;padding:20px;' src='{{ logo }}' /></a>
  {% endfor %}
</div>