/**
* Feuille de style principale
* Rouge INRIA : color: #E33729;
*/
body{
    background: url("https://commons.inria.fr/images/logo/INRIA_bkgd_body.png") no-repeat scroll center top #FFFFFF;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-bottom: 30px; /*pour que les longs menu ne se retrouvent pas cachés derriere le footer sans ascenseur */
}

ul.dropdown-menu{
    width:auto;
    background-color: #868686;
}

ul.dropdown-menu li.disabled a{
   pointer-events: none;
   cursor: default;
   color:#CCCCCC;
}

ul.nav li.disabled a{
   pointer-events: none;
   cursor: default;
   color:#CCCCCC;
}

/* sous-menu navigation*/
.dropdown-menu li > a {
    font-weight:bold;
    color: #FFFFFF;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus  {
    font-weight:bold;
    color:#FFFFFF;
    background-color: #686868;
    background-image: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color:#FFFFFF;
  background-color: #2C2C2C;
}

.tl { text-align: left }
.tr { text-align: right }
.tc { text-align: center }
.tb { text-align: block }
.form-horizontal .controls {
 
}

#ariane_link{
    margin-left: 20px;
    font-style:italic;
    color: #E33729;
}

.sidebar-nav li{
    background: url("https://commons.inria.fr/images/logo/INRIA_puce_triangle_nat_medium.png") no-repeat scroll left 0.3em transparent;
    margin-bottom: 0.2em;
    padding-left: 10px;
}

.sidebar-nav > .nav > li > a {
  padding:0px;
}

.nav .nav-header{
    color: #E33729;
    border-bottom: 1px solid #666666;
    background:none;
}

#body_container a{
    color: #E33729;
}

.nav .navbar-nav > li > a{
    color: #FFFFFF;
}

.navbar-nav {
    margin: 0;
}

.toplinktoggle {
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
}

#toplinklist.nav .navbar-nav > li > a, .footer .nav .navbar-nav > li > a  {
  color: #ffffff;
}

#menubar{
  font-weight: bold;
}

#menubar.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default { 
  background-image: none;
  color: #FFFFFF;
  box-shadow:none;
}   

.toplinklogo{
  padding-top:8px;
  padding-bottom:8px;
}
#logo p{
  color: #26CFCF;
  font-weight: bold;
  font-size: 20px;
}
#logo{
  margin-bottom:10px;
}

h1, h2{
  margin-bottom: 0;
  margin-top: 0px;
}

span.required{
    color: #E33729;
}
select.date{
  width:auto; 
}

#body_container a.btn-inria{
  color: #333333;
}

/*20140722 BN Migration to bootstrap 3 (START) */
.btn-inria {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-bottom: 0;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}

input[type="image"] {
  vertical-align:middle;
}
/*20140722 BN Migration to bootstrap 3 (STOP) */
.btn-inria:hover,
.btn-inria:active,
.btn-inria.active,
.btn-inria.disabled,
.btn-inria[disabled] {
  background-color: #e6e6e6;
}
.btn-inria:active,
.btn-inria.active {
  background-color: #cccccc \9;
}
.btn-inria:first-child {
  *margin-left: 0;
}
.btn-inria:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn-inria:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-inria.active,
.btn-inria:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn-inria.disabled,
.btn-inria[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Classe nobordertop utile si on veut un tableau dans un td 
   de table bootstrap mais sans bordures dans le td */
td.nobordertop {
  border: none;
}

/* Elements de déconnexion */
#disconnect {
  background: url("https://commons.inria.fr/images/pictos/logout.png");
  background-repeat: no-repeat;
  border:none;
  width: 16px; 
  height: 16px;
  margin-top: 0.8em;
  box-shadow: none;
}

#username,#role { 
  margin-top: 0.8em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  float: left;
  font-weight:bold;
  cursor: default;
  color: #FFFFFF;
}

/* Les éléments actifs de la toplinkbar_linklist 
   sont sur fond rouge */
.nav .navbar-nav .active a, .nav .navbar-nav .active  a:hover {
  background-color: #2C2C2C; /* #E33729; */
  background-image: none;
}

/* les éléments survolés du menu sont sur fond différent */
.navbar-default .navbar-nav > li > a:hover, .navbar-inner > .navbar-header > a:hover {
  background : #2C2C2C none repeat scroll 0 0;        
}
.navbar-inner > .navbar-header > a:hover{
  color:#fff;
}
/*
pour l'affichage des message d'erreur en haut des formulaires
*/
 .error_message
 {
  color:#E33729;
  font-size: 1.5em;
  text-align:center;
 }
 .error_div
 {
  margin:0 auto;
  width: 720px;
 border: 1px solid #CCCCCC;
 padding:4px;
 margin-bottom:5px;
 background-color: #F5D3D2;
}

.floating_buttons {
  position: sticky;
  padding-bottom: 46px;
  bottom: 0;
  
}

.floating_buttons > div.container {
  text-align: center;
}

.floating_buttons-bar {
  background-color: #DDDDDD;
  min-height: 40px;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px; 
}

.body_with_fixed_buttons {
  margin-bottom: 40px;
}

/*A SUPPRIMER ET REMPLACER PAR form-actions_menu*/
.form-importer {
  text-align: center;
  background-color: #DFDFDF;
  border-top: 1px solid #DDDDDD;
    margin-bottom: 18px;
    margin-top: 18px;
    padding: 17px 20px 18px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;    
}
.form-actions-fixed-menu {
  text-align: center;
  background-color: #DFDFDF;
  border-top: 1px solid #DDDDDD;
    margin-top: 18px;
    padding: 17px 20px 18px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;    
}

.alert{
  margin-bottom:5px;
  border-radius:0px;
}

.alert-error {
    background-image: linear-gradient(to bottom, #F2DEDE 0%, #E7C3C3 100%);
    background-repeat: repeat-x;
    border-color: #DCA7A7;
}

/* Pour simuler un lien a href ... */
.lien {
  color: #E33729;
  text-decoration: none;
  cursor:pointer;
}

.lien:focus, .lien:hover {
  text-decoration:underline;
}

/* 20140303  GBT  adapt to boostrap 3.1.1 (START) */
/* 20140709  BN  adapt to boostrap 3.1.1 */
.navbar-inner {
    background-color: #5e5e5e;
    background-image: none;
    background-repeat: repeat-x;
    border-radius: 0px;
}

#menubar .navbar-inner {
  min-height: 50px;
  background-color: #868686;
}

.list-inline > li > a {
    display: inline-block;
    padding: 8px 0px;
    color: #CCCCCC;
}
/* 20140303  GBT (FINISH) */

/* 20140430  GBT  adapt to inria colors (START) */
.label-primary {
    background-color: #308099;
}

.btn-primary {
    background-color: #308099;
    background-image: none;
}

.btn-danger {
    background-color: #E4443A;
    background-image: none;
}

.btn-warning {
    background-color: #F39126;
    background-image: none;
}

.btn-default {
    background-color: #FFFFFF;
    background-image: none;
}
/* 20140430  GBT  adapt to inria colors (FINISH) */

/*20140513 BN Migration to bootstrap 3 */
.form-actions {
  background-color: #EEEEEE;
  border-top: 1px solid #DDDDDD;
  margin-bottom: 18px;
  margin-top: 18px;
  padding: 17px 160px 18px;
}
/*20140513 BN Migration to bootstrap 3 (FINISH) */

/*20140513 BN Migration to bootstrap 3 (START) */
.search-query {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    color: #555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    padding: 4px 9px;
    transition: none 0s ease 0s ;
    border-radius: 0px;
    margin-bottom: 0;
    height:26px;
}

.navbar-form {
  margin-top:0px;
  margin-bottom:0px;
  padding-top:15px;
  padding-bottom:8px;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon span {
    position: absolute;
    right: 5px;
    padding: 5px 5px;
    pointer-events: none;
    color:#555;
}
.navbar-default  a.navbar-brand {
  color:#ffffff ;
  font-size:14px;
}
div.editable-input a.btn {
  font-size:12px;  
}

.inria_box{
  background: url("https://commons.inria.fr/images/logo/inr_logo_sans_sign_coul.jpg") no-repeat scroll center top #FFFFFF;  
}
/*20140513 BN Migration to bootstrap 3 (FINISH)*/

/* CSS pour fenêtres de dialogue JQuery */
.ui-widget-content.ui-dialog
{
    border: 2px solid #CC0404;
    background: #F2F1F0;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.ui-widget-content {
  border: 1px solid #CC0000;
}
.ui-widget-header
{    
    text-align: left;
    color: cornsilk;
    padding: 5px;    
    padding-left: 10px;
    font-weight: bold;    
    position: relative;
    -moz-border-radius: 4px 4px 0px 0px;   
    -webkit-border-radius: 4px 4px 0px 0px;       
    border-radius: 4px 4px 0px 0px;
}
.ui-datepicker-month, .ui-datepicker-year {
  color: #004276;
}
button.ui-dialog-titlebar-close {
    background-color: #DE0000;
    border: none;
    font-weight: bold;
    border:1px solid;
    text-align: center;
    line-height: 10px;
}
button.ui-dialog-titlebar-close::after {
      content: "X";
}
/* FIN CSS pour fenêtres de dialogue JQuery */

/* DEBUT CSS Pour eliminer le rouge des liens de class="btn-xxx" */
#body_container a.btn-primary,#body_container a.btn-primary:hover {
    color: white;
} 
#body_container a.btn-default,#body_container a.btn-default:hover {
    color: #333333;
}
/* FIN CSS Pour eliminer le rouge des liens de class="btn-xxx" */

/* pour le logo en version font awesome */
#fontAwesomeLogo{
  font-size: 5em;
  color:#26CFCF;
  margin-left:40px;
  text-shadow: 2px 2px 2px #868686;
}

.footer > div > div.navbar-inner >div >ul >li> a:hover {
  color: #2C2C2C;
  text-decoration: none;
}

#menubar  .navbar-nav > li > span {
    display:inline-block;
    padding-top: 15px;
}
.well, .form-control, .panel, .btn, .thumbnail, .modal-content, .select2-container .select2-choice, .nav-tabs > li > a{
  border-radius:0px;
}
.modal-header h3 {
  text-align: center;
}
.modal-dialog {
  width: 700px;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #FFF;
}
.navbar-nav > li > a {
  padding-bottom: 11px;
}
.navbar-nav > li > span {
  display: block;
  padding-top: 5px;
}
#navbar-collapse-menu1 > .navbar-nav > li > a {
  padding-bottom: 15px;
}
.navbar-header > .navbar-nav > li > a {
  padding-bottom: 15px;
}
a.menubarfontawesome {
  color: #fff;
  font-size: 22px;
  padding: 14px;
}

/* Pour les icônes d'action dans les vues */
ul.inline {
        padding-left: 0;
        margin-bottom: 0;
}
li.inline {
        display: inline;
        margin-right: 0.5em;
        list-style: disc outside none;
}

/* Pour les menus Bootstrap multi-niveaux */
.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

/* FIN - Pour les menus Bootstrap multi-niveaux */

/* Pour le texte des select2 s'affiche en noir */
#body_container a.select2-choice {
	color: black;
}

/* btn-link en rouge */
.btn-link, .btn-link:hover, .btn-link:focus {
	color: #E33729;
	padding: 0px;
}

