/**
* Feuille de style minimale pour la carte
* Rouge INRIA : color: #E33729;
*/
/* Map OSM */
.map-wrapper{
  margin-top:10px;
  margin-bottom:10px;
}
.osMap{
  z-index: 2;
}

/* ClassCodeMapOverlay */
#classCodeMapOverlay {
  position: absolute;
  top: 0px;
  z-index: 3;
  background-color: #fff;
  width: 400px !important;
  height: 400px !important;
  display: none;
  border: 1px solid #CCCCCC;
  overflow-wrap: break-word;
}

#classCodeMapOverlayTitle {
  background-color: #CCCCCC;
  overflow-wrap: break-word;
  color: #5E5E5E;
  padding: 10px 30px 10px 10px;
  position: relative;
}

#classCodeMapOverlayContent {
  font-size: 14px;
  padding-left: 1%;
  color: #000;
  overflow-wrap: break-word;
}

#classCodeMapOverlayContent div {
  font-size: 14px;
  margin-top: 5px;
  color: #5D5D5D;
  margin-left: 10px;
  margin-right: 10px;
}

#body_container #classCodeMapOverlayContent div a {
  text-decoration: none;
  color: #266D83;
}

#classCodeMapOverlayContent div.classCodeMapOverlayContentLogo {
  max-width: 230px;
  max-height: 240px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#classCodeMapOverlayContent div.classCodeMapOverlayContentLogo img {
  border-style: none;
  max-width: 120px;
  height: auto;
}

#classCodeMapOverlayContent div.classCodeMapOverlayContentTitle {
  color: #CCCCCC;
  margin-left: 0px;
}

#classCodeMapOverlayContent div.classCodeMapOverlayEmphasis {
  font-weight: bold;
  margin-left: 0px;
}

#body_container #classCodeMapOverlayContent div a.classCodeMapOverlayLink, a.classCodeMapOverlayModifyLink {
  color: white;
  text-decoration: none;
  display: block;
  background-color: #27CFD0;
  padding: 10px 20px;
  margin: 10px 20px;
  text-align: left;
  font-weight: bold;
}

.returnIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url(../images/croix.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  height: 22px;
  width: 22px;
}