.row .col-md-12, div .col-md-12 { width: 700px; }
.row .col-md-8, div .col-md-8  { width: 467px; }
.row .col-md-4, div .col-md-4  { width: 233px; }
.row .col-md-3 { width: 175px; }
.row .col-md-9 { width: 525px; }

body .container { width: 700px; }	
body {font-size: 10px; }

.action_icons, .no-print {
	display: none;
}

#body_container a {
	color: #E33729;
}