<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>{{ 'group.add'|trans }}</h3>
    </div>
    <form  method="post" class="form-horizontal" id="addGroupForm" action="{{ path('group_create') }}">
    <div class="modal-body">
      <div id="GroupNameFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'group.name'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="{{ 'group.name'|trans }}" type="text" name="GroupName"  id="GroupName" >
        </div>
        <div id="GroupNameRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">{{ 'attribute.add' | trans }}</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true" >{{ 'help.close'|trans }}</button>
    </div>          
    </form>
  </div>
</div>
