<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id='group_list'>
  <thead>
    <tr>
      <th>{{ 'group.name'|trans }} </th>  
      <th>{{ 'group.partners'|trans }} </th>
      {% if is_granted('ROLE_ADMIN') %}      
        <th>{{ 'Action'|trans }} </th>
      {% endif %}                                   
    </tr>
  </thead> 
  <tbody>
  {% for group in groups %}     
    <tr>
      <td>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="#"  class="modifyGroupName" id="Name" data-type="text" data-pk="{{ group.getId }}" data-url="{{ path('group_update') }}" data-title="{{ 'group.name'|trans }} ">{{ group.getName }} </a>
        {% else %}
          {{ group.getName }}
        {% endif %}  
      </td>                    
      <td>
        {% for partner in group.getPartners %}
         {% if loop.first == false %}
           <br/>
         {% endif %}
          {{ partner.getName }}
        {% endfor %}
      </td>
      {% if is_granted('ROLE_ADMIN') %}
        <td>
          <a href="{{ path('group_delete', { 'id' : group.getId } )  }}"   OnClick="return confirm('{{ 'group.delete'|trans }} ?');"><img src="{{ asset('images/delete.png')}}" alt="{{ 'group.delete'|trans }}" title="{{ 'group.delete'|trans }}"></a>
        </td>
      {% endif %}
    </tr> 
  {% endfor %}
  </tbody>
</table>