{% extends 'base.html.twig' %}
 

{% block body_title %}
    {{ 'groups.list' | trans }}
{% endblock body_title %}

{% block toplinklist %}
  {% if is_granted('ROLE_ADMIN') %}
    
  {% endif %}
{% endblock toplinklist %}

{% block right_action %}
{% endblock %}
{% block body_inner %}
  <div id="classcodeadmin_content" class="col-md-12" style="display:none;">
    {% if is_granted('ROLE_ADMIN') %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddGroup" style="margin-bottom: 5px;margin-top:5px;">
        {{ 'group.add'|trans }}
      </button>        
      
      <div id="AddGroup" class="modal fade" role="dialog" aria-labelledby="DataSourceModalHelp" aria-hidden="true">
        {% include '@ClassCode/Group/addGroupFormModal.html.twig' %}
      </div>
    {% endif %}
      <div id='group_list_div'>
         {% include '@ClassCode/Group/ajax_list.html.twig' %}
      </div>
  </div>
  
  <div id="loader">
    <img src="{{ commons_url }}/images/pictos/loading_40.gif" alt="{{ 'Loading'|trans }}" title="{{ 'Loading'|trans }}">
  </div>

  

{% endblock %}

{% block javascripts %}
 {{ parent() }}
 <script>
   $(document).ready(function() {    
      loadDataTable();
      $('#loader').hide();
      $('#classcodeadmin_content').show();
      $.fn.editable.defaults.mode = 'inline';
      $('.modifyGroupName').each(function(){
        $(this).editable({
          validate: function(value) {
            if($.trim(value) == '') return "{{ 'required'|trans }}";
          },
          params: function(params) {
            var id = $(this).attr("data-id");
            var data = {};
            data['pk'] = params.pk;
            data['id'] = id;
            data['value'] = params.value;
            data['name'] = 'name';
            return data;
          },
          success: function(response) {
            $('#flash_message').html( 
             "<span class='alert alert-success'>{{ 'Le Nom du Groupe a été modifié !'|trans }}");
          },
          error: function(request) {
              $('#flash_message').html(
                "<span class='alert alert-error'>{{ 'Erreur de Validation : le groupe existe déjà ?'|trans }}</span>");    
            }
        });
      });
      
    });
    
    
        
    function loadDataTable(){
      $('#group_list').dataTable({
        "sDom": "<'row'<'col-md-6'li><'col-md-6'f>r>t<'row'<'col-md-6'><'col-md-6'p>>",        
        "oLanguage": {
          "oPaginate": {
            "sFirst":"{{ 'DataTable.FirstPage'|trans }}",
            "sLast": "{{ 'DataTable.LastPage'|trans }}",
            "sNext": "{{ 'DataTable.Next'|trans }}",
            "sPrevious": "{{ 'DataTable.Previous'|trans }}"                    
          },
          "sInfo": "{{ 'DataTable.Conclusion'|trans }}",
          "sLengthMenu": "{{ 'DataTable.Menu'|trans }}",
          "sSearch": "{{ 'DataTable.Search'|trans }}",       
          "sInfoThousands": " ",
          "sEmptyTable": "{{ 'DataTable.noData'|trans }}",
          "sInfoEmpty": "{{ 'DataTable.noData'|trans }}"
        },
        "aLengthMenu": [[100, 500, 1000,10000, -1], [100, 500, 1000,10000, "{{ 'DataTable.all'|trans }}"]],
        "iDisplayLength": 1000
      });
        
             
      $('#addGroupForm').submit(function(ev) {
        ev.preventDefault(); // to stop the form from submitting
        var success = 1;
        /* Validations go here */
        if($.trim($('#GroupName').val()) == '') {
          $('#GroupNameFormGroup').addClass('has-error');
          $('#GroupNameRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#GroupNameFormGroup').removeClass('has-error');
          $('#GroupNameRequired').addClass('hidden');
        }
        if(success == 1){
          $('#AddGroup').modal('hide');
          this.submit(); // If all the validations succeeded
        }            
      }); 
    }
 </script>
{% endblock %} 