{ "groups":[ 
  {% for group in groups %}  
    {
      "name" : "{{ group.getName }}",
      "partners" : [
        {% for partner in group.getPartners %}
        { "name" : "{{partner.getName }}" }
        {% if loop.last == false %},{% endif %}
        {% endfor %}
      ]    
    }
    {% if loop.last == false %},{% endif %}
  {% endfor %} 
]
}
