<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>{{ 'coordination.add'|trans }}</h3>
    </div>
    <form  method="post" class="form-horizontal" id="addCoordinationForm" action="{{ path('coordination_create') }}">
    
    <div class="modal-body">
      <div id="CoordinationNameFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.name'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="CoordinationName" type="text" name="CoordinationName"  id="CoordinationName" >
        </div>
        <div id="CoordinationNameRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>
      <div id="CoordinationClassCodePageFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.classcodepage'|trans }}</label>
        <div class="col-sm-9">
          <input  class="form-control" title="CoordinationClassCodePage" type="text" name="CoordinationClassCodePage" id="CoordinationClassCodePage">
        </div>
      </div> 
      <div id="CoordinationLogoFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.logo'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="CoordinationLogo" type="text" name="CoordinationLogo" id="CoordinationLogo">
        </div>
        <div id="CoordinationLogoRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>   
      <div id="CoordinationUrlFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.url'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="CoordinationUrl" type="text" name="CoordinationUrl" id="CoordinationUrl">
        </div>
        <div id="CoordinationrUrlRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>  
      <div id="CoordinationWhoFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.who'|trans }}</label>
        <div class="col-sm-9">
          <input  class="form-control" title="CoordinationWho" type="text" name="CoordinationWho" id="CoordinationWho">
        </div>
      </div> 
      <div id="CoordinationEmailFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.email'|trans }}</label>
        <div class="col-sm-9">
          <input  class="form-control" title="CoordinationEmail" type="text" name="CoordinationEmail" id="CoordinationEmail">
        </div>
      </div> 
      <div id="CoordinationEmailsFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.emails'|trans }}</label>
        <div class="col-sm-9">
          <input  class="form-control" title="CoordinationEmails" type="text" name="CoordinationEmails" id="CoordinationEmails">
        </div>
      </div>
      <div id="CoordinationSlugFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.slug'|trans }}</label>
        <div class="col-sm-9">
          <input  class="form-control" title="CoordinationSlug" type="text" name="CoordinationSlug" id="CoordinationSlug">
        </div>
      </div>
      <div id="CoordinationRegionFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.region'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input class="form-control" title="CoordinationRegion" type="text" name="CoordinationRegion" id="CoordinationRegion">
        </div>
      </div> 
      <div id="CoordinationAddressFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.address'|trans }}</label>
        <div class="col-sm-9">
          <input class="form-control" title="CoordinationAddress" type="text" name="CoordinationAddress" id="CoordinationAddress">
        </div>
      </div> 
      <div id="CoordinationGeolocFormGroup" class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-5">
          <a id="CoordinationGeoloc" class="btn btn-primary">{{ 'geoloc.compute' | trans }}</a>
        </div>
        <div class="col-sm-4">
          <span class="CoordinationGeolocResult btn"></span>            
        </div>
      </div>
      <div id="CoordinationLatFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.lat'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="CoordinationLat" type="text" name="CoordinationLat" id="CoordinationLat">
        </div>
        <div id="CoordinationLatRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div> 
      <div id="CoordinationLongFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.long'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="CoordinationLong" type="text" name="CoordinationLong" id="CoordinationLong">
        </div>
        <div id="CoordinationLongRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div> 
      <div id="CoordinationStructureFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.structure'|trans }}</label>
        <div class="col-sm-9">
          <input  class="form-control" title="CoordinationStructure" type="text" name="CoordinationStructure" id="CoordinationStructure">
        </div>
      </div>
      <div id="CoordinationAlertFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.alert'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input class="form-control" title="CoordinationAlert" type="checkbox" name="CoordinationAlert" id="CoordinationAlert">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">{{ 'attribute.add' | trans }}</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true" >{{ 'help.close'|trans }}</button>
    </div>          
    </form>
  </div>
</div>
