<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id='partner_list'>
  <thead>
    <tr>
      <th>{{ 'coordination.name'|trans }} </th>
      <th>{{ 'coordination.classcodepage'|trans }} </th>  
      <th>{{ 'coordination.logo'|trans }} </th>                                   
      <th>{{ 'coordination.url'|trans }} </th>
      <th>{{ 'coordination.who'|trans }} </th>  
      <th>{{ 'coordination.email'|trans }} </th>
      <th>{{ 'coordination.slug'|trans }} </th>
      {% if is_granted('ROLE_ADMIN') %}
        <th>{{ 'Action'|trans }} </th>
      {% endif %}       
    </tr>
  </thead> 
  <tbody>
  {% for coordination in coordinations %}     
    <tr>
      <td>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="#EditCoordination" class="EditCoordination" data-coordinationstructure="{{ coordination.getStructure }}" data-coordinationclasscodepage="{{ coordination.getClassCodePage }}" data-coordinationid="{{ coordination.getId }}" data-coordinationname="{{ coordination.getName }}" data-coordinationlogo="{{ coordination.getLogo }}" data-coordinationwho="{{ coordination.getWho }}" data-coordinationemail="{{ coordination.getEmail}}" data-coordinationemails="{{ coordination.getEmails }}" data-coordinationurl="{{ coordination.getUrl }}" data-coordinationslug="{{ coordination.getSlug }}" data-coordinationregion="{{ coordination.getRegion }}" data-coordinationaddress="{{ coordination.getAddress }}" data-coordinationlat="{{ coordination.getLatitude }}" data-coordinationlong="{{ coordination.getLongitude }}" data-coordinationalert="{{ coordination.getAlert }}" data-toggle="modal" data-target="#EditCoordination" >{{ coordination.getName }}</a>
        {% else %}
        {{ coordination.getName }}
        {% endif %}
      </td> 
      <td>
        {{ coordination.getClassCodePage }}
      </td>                   
      <td>
        <a href="{{ coordination.getLogo }}" target="_blank"><img style='vertical-align:middle;width:120px;max-height:80px;' src="{{ coordination.getLogo }}" /></a>      
      </td>      
      <td>
        <a href="{{ coordination.getUrl }}" target="_blank">{{ coordination.getUrl }}</a>
      </td>
      <td>
        {{ coordination.getWho }}
      </td>
      <td>
        {{ coordination.getEmail }}
      </td>
      <td>
        {{ coordination.getSlug }}
      </td>
      {% if is_granted('ROLE_ADMIN') %}
        <td>
          <a href="#EditCoordination" class="EditCoordination" data-coordinationstructure="{{ coordination.getStructure }}" data-coordinationclasscodepage="{{ coordination.getClassCodePage }}" data-coordinationid="{{ coordination.getId }}" data-coordinationname="{{ coordination.getName }}" data-coordinationlogo="{{ coordination.getLogo }}" data-coordinationwho="{{ coordination.getWho }}" data-coordinationemail="{{ coordination.getEmail}}" data-coordinationemails="{{ coordination.getEmails }}" data-coordinationurl="{{ coordination.getUrl }}" data-coordinationslug="{{ coordination.getSlug }}" data-coordinationregion="{{ coordination.getRegion }}" data-coordinationaddress="{{ coordination.getAddress }}" data-coordinationlat="{{ coordination.getLatitude }}" data-coordinationlong="{{ coordination.getLongitude }}" data-coordinationalert="{{ coordination.getAlert }}" data-toggle="modal" data-target="#EditCoordination" ><img src="{{ asset('images/edit.png')}}" alt="{{ 'coordination.edit'|trans }}" title="{{ 'coordination.edit'|trans }}"></a>
          <a href="{{ path('coordination_delete', { 'id' : coordination.getId } )  }}"  OnClick="return confirm('{{ 'coordination.delete'|trans }} ?');"><img src="{{ asset('images/delete.png')}}" alt="{{ 'coordination.delete'|trans }}" title="{{ 'coordination.delete'|trans }}"></a>
        </td>
      {% endif %}
    </tr> 
  {% endfor %}
  </tbody>
</table>