<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>{{ 'coordination.edit'|trans }}</h3>
    </div>
    <form  method="post" class="form-horizontal" id="editCoordinationForm" action="{{ path('coordination_edit') }}">
    <input type="hidden" id="CoordinationEditId" name="CoordinationEditId" value="">
    <div class="modal-body">
      <div id="CoordinationEditNameFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.name'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="CoordinationName" type="text" name="CoordinationEditName"  id="CoordinationEditName" >
        </div>
        <div id="CoordinationEditNameRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>
      <div id="CoordinationEditClassCodePageFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.classcodepage'|trans }}</label>
        <div class="col-sm-9">
          <input  class="form-control" title="CoordinationClassCodePage" type="text" name="CoordinationEditClassCodePage" id="CoordinationEditClassCodePage">
        </div>
      </div> 
      <div id="CoordinationEditLogoFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.logo'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="CoordinationLogo" type="text" name="CoordinationEditLogo" id="CoordinationEditLogo">
        </div>
        <div id="CoordinationEditLogoRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>   
      <div id="CoordinationEditUrlFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.url'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="CoordinationUrl" type="text" name="CoordinationEditUrl" id="CoordinationEditUrl">
        </div>
        <div id="CoordinationEditrUrlRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div>  
      <div id="CoordinationEditWhoFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.who'|trans }}</label>
        <div class="col-sm-9">
          <input  class="form-control" title="CoordinationWho" type="text" name="CoordinationEditWho" id="CoordinationEditWho">
        </div>
      </div> 
      <div id="CoordinationEditEmailFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.email'|trans }}</label>
        <div class="col-sm-9">
          <input  class="form-control" title="CoordinationEmail" type="text" name="CoordinationEditEmail" id="CoordinationEditEmail">
        </div>
      </div> 
      <div id="CoordinationEditEmailsFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.emails'|trans }}</label>
        <div class="col-sm-9">
          <input  class="form-control" title="CoordinationEmails" type="text" name="CoordinationEditEmails" id="CoordinationEditEmails">
        </div>
      </div>
      <div id="CoordinationEditSlugFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.slug'|trans }}</label>
        <div class="col-sm-9">
          <input  class="form-control" title="CoordinationSlug" type="text" name="CoordinationEditSlug" id="CoordinationEditSlug">
        </div>
      </div>
      <div id="CoordinationEditRegionFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.region'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input class="form-control" title="CoordinationRegion" type="text" name="CoordinationEditRegion" id="CoordinationEditRegion">
        </div>
      </div> 
      <div id="CoordinationEditAddressFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.address'|trans }}</label>
        <div class="col-sm-9">
          <input class="form-control" title="CoordinationAddress" type="text" name="CoordinationEditAddress" id="CoordinationEditAddress">
        </div>
      </div> 
      <div id="CoordinationEditGeolocFormGroup" class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-5">
          <a id="CoordinationEditGeoloc" class="btn btn-primary">{{ 'geoloc.compute' | trans }}</a>
        </div>
        <div class="col-sm-4">
          <span class="CoordinationGeolocResult btn"></span>            
        </div>
      </div>
      <div id="CoordinationEditLatFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.lat'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="CoordinationLat" type="text" name="CoordinationEditLat" id="CoordinationEditLat">
        </div>
        <div id="CoordinationEditLatRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div> 
      <div id="CoordinationEditLongFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.long'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input required class="form-control" title="CoordinationLong" type="text" name="CoordinationEditLong" id="CoordinationEditLong">
        </div>
        <div id="CoordinationEditLongRequired" class="col-sm-2 text-danger hidden">
          {{ 'required'|trans }}
        </div>
      </div> 
      <div id="CoordinationEditStructureFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.structure'|trans }}</label>
        <div class="col-sm-9">
          <input  class="form-control" title="CoordinationStructure" type="text" name="CoordinationEditStructure" id="CoordinationEditStructure">
        </div>
      </div>
      <div id="CoordinationEditAlertFormGroup" class="form-group">
        <label class="col-sm-3 control-label">{{ 'coordination.alert'|trans }}<span class=text-danger>*</span></label>
        <div class="col-sm-9">
          <input class="form-control" title="CoordinationAlert" type="checkbox" name="CoordinationEditAlert" id="CoordinationEditAlert">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">{{ 'attribute.edit' | trans }}</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true" >{{ 'help.close'|trans }}</button>
    </div>          
    </form>
  </div>
</div>
