{ "coordinations":[ 
  {% for coordination in coordinations %}  
    {
      "name" : "{{ coordination.getName }}" ,
      "classCodePage" : "{{ coordination.getClassCodePage }}",
      "url" : "{{ coordination.getUrl }}",
      "logo" : "{{ coordination.getLogo }}",      
      "who" : "{{ coordination.getWho }}",
      "email" : "{{ coordination.getEmail }}",
      "slug" : "{{ coordination.getSlug }}",
      "region" : "{{ coordination.getRegion|json_encode() }}",
      "emails" : "{{ coordination.getEmails|json_encode() }}",
      "location" : { "lat" : "{{ coordination.getLatitude }}" , "lng" :"{{ coordination.getLongitude}}" },
      "structures" : "{{ coordination.getStructure|json_encode() }}",
      "alert" : "{{ coordination.getAlert }}"
    }
    {% if loop.last == false %}
    ,
    {% endif %}
  {% endfor %} 
]
}
