{% extends 'base.html.twig' %}
 
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('js/leaflet-1.3.1/leaflet.css') }}" />
  <link rel="stylesheet" href="{{ asset('js/leaflet-1.3.1/plugins/leaflet.markercluster-1.3.0/dist/MarkerCluster.Default.css') }}" />    
{% endblock %}

{% block body_title %}
    {{ 'coordinations.list' | trans }}
{% endblock body_title %}

{% block toplinklist %}
  {% if is_granted('ROLE_ADMIN') %}
    
  {% endif %}
{% endblock toplinklist %}

{% block right_action %}
{% endblock %}
{% block body_inner %}
  <div id="classcodeadmin_content" class="col-md-12" style="display:none;">
    {% if is_granted('ROLE_ADMIN') %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddCoordination" style="margin-bottom: 5px;margin-top:5px;">
        {{ 'coordination.add'|trans }}
      </button>        
      
      <div id="AddCoordination" class="modal fade" role="dialog" aria-labelledby="DataSourceModalHelp" aria-hidden="true">
        {% include '@ClassCode/Coordination/addCoordinationFormModal.html.twig' %}
      </div>
      <div id="EditCoordination" class="modal fade" role="dialog" aria-labelledby="DataSourceModalHelp" aria-hidden="true">
        {% include '@ClassCode/Coordination/editCoordinationFormModal.html.twig' %}
      </div>
    {% endif %}
    <div class="col-sm-12 map-wrapper">
      <div id="coordinationsMap" class="osMap" style="height:400px;"> </div>      
      <div id="classCodeMapOverlay">     
        <div id="classCodeMapOverlayTitle">           
          <span id="classCodeMapOverlayTitleContent">Retour</span>
          <a id="classCodeMapOverlayTitleLink" class="backCriteriaLink">
            <span class="returnIcon">
          </span>
          </a>
        </div>
        <div id="classCodeMapOverlayContent">   
        </div>          
      </div>  
    </div>
    <div id='coordination_list_div'>
       {% include '@ClassCode/Coordination/ajax_list.html.twig' %}
    </div>
  </div>
  
  <div id="loader">
    <img src="{{ commons_url }}/images/pictos/loading_40.gif" alt="{{ 'Loading'|trans }}" title="{{ 'Loading'|trans }}">
  </div>

  

{% endblock %}

{% block javascripts %}
 {{ parent() }}
 <script type="text/javascript" src="{{ asset('js/leaflet-1.3.1/leaflet.js') }}"></script> 
 <script type="text/javascript" src="{{ asset('js/leaflet-1.3.1/plugins/leaflet.markercluster-1.3.0/dist/leaflet.markercluster.js') }}"></script>
 <script>
   var overlayShown = false;
   var lastSelectedMarker = false;
   $(document).ready(function() {    
      loadDataTable();
      $('#loader').hide();
      $('#classcodeadmin_content').show();
      //map
      var coordinationMap = L.map('coordinationsMap',{maxZoom: 18}).setView([46.52863469527167, 2.43896484375], 5),
          markers = L.markerClusterGroup({
                spiderfyOnMaxZoom: true,
                showCoverageOnHover: false,
                zoomToBoundsOnClick: true,
                polygonOptions: {
                    fillColor: '#FFFFFF',
                    color: '#FFFFFF',
                    weight: 0.5,
                    opacity: 1,
                    fillOpacity: 0.5
                    }
            }),
            lat = "",
            lon = "",
            LeafIcon = L.Icon.extend({
                options: {
                    iconSize:     [38, 95],
                    shadowSize:   [50, 64],
                    iconAnchor:   [22, 94],
                    shadowAnchor: [4, 62],
                    popupAnchor:  [-3, -76]
                }
            });
            
      var markerDetail = "";
      var lat;
      var lon;
      var coordinationContentString = '';
      var coordinationArrayMarker = [];
      
      {% for coordination in coordinations %} 
        lat = "{{ coordination.getLatitude }}" ;
        lon = "{{ coordination.getLongitude }}" ;
        coordinationContentString = '';
        coordinationLogo = "{{ coordination.getLogo }}";
        if(coordinationLogo != ""){
          coordinationContentString = '<div class="classCodeMapOverlayContentLogo"><img src="'+coordinationLogo+'"></div>';
        }       
        coordinationContentString +=  '<br>';
        coordinationWho = "{{ coordination.getWho }}";
        if (coordinationWho != ""){
          coordinationContentString+=  '<div class="classCodeMapOverlayContentTitle">Contact</div><div class="classCodeMapOverlayEmphasis"><b>'+coordinationWho+'</b></div>';
        }
        coordinationAddress = "{{ coordination.getAddress }}";
        if (coordinationAddress != ""){
          coordinationContentString+=  '<div>'+coordinationAddress+'</div>';
        }
        coordinationEmail = "{{ coordination.getEmail }}";
        if (coordinationEmail != ""){
          coordinationContentString+=  '<div><a href="mailto:'+coordinationEmail+'" target="_blank">'+coordinationEmail+'</a></div>';
        }
        coordinationUrl = "{{ coordination.getUrl }}";
        if(coordinationUrl != ""){
          coordinationContentString+=  '<div><a target="_blank" href="'+coordinationUrl+'">'+coordinationUrl+'</a></div>';
        }
        coordinationClassCodePage = "{{ coordination.getClassCodePage }}";
        if(coordinationClassCodePage != ""){
          coordinationContentString+=  '<div><a class="classCodeMapOverlayLink" target="_blank" href="'+coordinationClassCodePage+'">{{ 'coordination.page' | trans }}</a></div>';
        }
                           
        
        if((lat !="0")&&(lon != "0")){          
          coordinationArrayMarker[{{ loop.index0 }}] = L.marker(L.latLng(lat, lon), { title: '{{ coordination.getName }}', id: '{{ loop.index0 }}', desc: coordinationContentString } );
          markers.addLayer(coordinationArrayMarker[{{ loop.index0 }}]);
          coordinationArrayMarker[{{ loop.index0 }}].on('click',function(event){clickMarker(this,coordinationMap);});                     
        }
      {% endfor %}
      coordinationMap.addLayer(markers);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(coordinationMap);
      
       jQuery("#classCodeMapOverlayTitleLink").click(function() {hideMapOverlay();});
    });
    
    function loadDataTable(){
      $('#partner_list').dataTable({
        "sDom": "<'row'<'col-md-6'li><'col-md-6'f>r>t<'row'<'col-md-6'><'col-md-6'p>>",        
        "oLanguage": {
          "oPaginate": {
            "sFirst":"{{ 'DataTable.FirstPage'|trans }}",
            "sLast": "{{ 'DataTable.LastPage'|trans }}",
            "sNext": "{{ 'DataTable.Next'|trans }}",
            "sPrevious": "{{ 'DataTable.Previous'|trans }}"                    
          },
          "sInfo": "{{ 'DataTable.Conclusion'|trans }}",
          "sLengthMenu": "{{ 'DataTable.Menu'|trans }}",
          "sSearch": "{{ 'DataTable.Search'|trans }}",       
          "sInfoThousands": " ",
          "sEmptyTable": "{{ 'DataTable.noData'|trans }}",
          "sInfoEmpty": "{{ 'DataTable.noData'|trans }}"
        },
        "aLengthMenu": [[100, 500, 1000,10000, -1], [100, 500, 1000,10000, "{{ 'DataTable.all'|trans }}"]],
        "iDisplayLength": 1000
      });
                     
      $('#addCoordinationForm').submit(function(ev) {
        ev.preventDefault(); // to stop the form from submitting
        var success = 1;
        /* Validations go here */
        if($.trim($('#CoordinationName').val()) == '') {
          $('#CoordinationNameFormGroup').addClass('has-error');
          $('#CoordinationNameRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#CoordinationNameFormGroup').removeClass('has-error');
          $('#CoordinationNameRequired').addClass('hidden');
        }
        if($.trim($('#CoordinationLogo').val()) == '') {
          $('#CoordinationLogoFormGroup').addClass('has-error');
          $('#CoordinationLogoRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#CoordinationLogoFormGroup').removeClass('has-error');
          $('#CoordinationLogoRequired').addClass('hidden');
        }
        if($.trim($('#CoordinationUrl').val()) == '') {
          $('#CoordinationUrlFormGroup').addClass('has-error');
          $('#CoordinationUrlRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#CoordinationUrlFormGroup').removeClass('has-error');
          $('#CoordinationUrlRequired').addClass('hidden');
        }
        
        if( ($.trim($('#CoordinationLat').val()) == '')  ) {
          $('#CoordinationLatFormGroup').addClass('has-error');
          $('#CoordinationLatRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#CoordinationLatFormGroup').removeClass('has-error');
          $('#CoordinationLatRequired').addClass('hidden');
        }
        if( ($.trim($('#CoordinationLong').val()) == '')  ) {
          $('#CoordinationLongFormGroup').addClass('has-error');
          $('#CoordinationLongRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#CoordinationLongFormGroup').removeClass('has-error');
          $('#CoordinationLongRequired').addClass('hidden');
        }
        if(success == 1){
          $('#AddCoordination').modal('hide');
          this.submit(); // If all the validations succeeded
        }            
      });
      
      
      $(".EditCoordination").click(function(){
        $("#CoordinationEditId").val($(this).attr("data-coordinationid"));
        $("#CoordinationEditName").val($(this).attr("data-coordinationname"));
        $("#CoordinationEditLogo").val($(this).attr("data-coordinationlogo"));
        $("#CoordinationEditUrl").val($(this).attr("data-coordinationurl"));
        $("#CoordinationEditWho").val($(this).attr("data-coordinationwho"));
        $("#CoordinationEditEmail").val($(this).attr("data-coordinationemail"));
        $("#CoordinationEditEmails").val($(this).attr("data-coordinationemails"));
        $("#CoordinationEditSlug").val($(this).attr("data-coordinationslug"));
        $("#CoordinationEditRegion").val($(this).attr("data-coordinationregion"));
        $("#CoordinationEditAddress").val($(this).attr("data-coordinationaddress"));
        $("#CoordinationEditLat").val($(this).attr("data-coordinationlat"));
        $("#CoordinationEditLong").val($(this).attr("data-coordinationlong"));
        if($(this).attr("data-coordinationalert")=="1"){
          $("#CoordinationEditAlert").prop("checked",true);  
        }else{
          $("#CoordinationEditAlert").prop("checked",false);
        }
        
        
      
      });     
      
      $('#editCoordinationForm').submit(function(ev) {
        ev.preventDefault(); // to stop the form from submitting
        var success = 1;
        /* Validations go here */
        if($.trim($('#CoordinationEditName').val()) == '') {
          $('#CoordinationEditNameFormGroup').addClass('has-error');
          $('#CoordinationEditNameRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#CoordinationEditNameFormGroup').removeClass('has-error');
          $('#CoordinationEditNameRequired').addClass('hidden');
        }
        if($.trim($('#CoordinationEditLogo').val()) == '') {
          $('#CoordinationEditLogoFormGroup').addClass('has-error');
          $('#CoordinationEditLogoRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#CoordinationEditLogoFormGroup').removeClass('has-error');
          $('#CoordinationEditLogoRequired').addClass('hidden');
        }
        if($.trim($('#CoordinationEditUrl').val()) == '') {
          $('#CoordinationEditUrlFormGroup').addClass('has-error');
          $('#CoordinationEditUrlRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#CoordinationEditUrlFormGroup').removeClass('has-error');
          $('#CoordinationEditUrlRequired').addClass('hidden');
        }        
        if($.trim($('#CoordinationEditLat').val()) == '') {
          $('#CoordinationEditLatFormGroup').addClass('has-error');
          $('#CoordinationEditLatRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#CoordinationEditLatFormGroup').removeClass('has-error');
          $('#CoordinationEditLatRequired').addClass('hidden');
        }
        if($.trim($('#CoordinationEditLong').val()) == '') {
          $('#CoordinationEditLongFormGroup').addClass('has-error');
          $('#CoordinationEditLongRequired').removeClass('hidden');
          success = 0;
        }else{
          $('#CoordinationEditLongFormGroup').removeClass('has-error');
          $('#CoordinationEditLongRequired').addClass('hidden');
        }
        if(success == 1){
          $('#EditCoordination').modal('hide');
          this.submit(); // If all the validations succeeded
        }            
      }); 
    }
    
    $("#CoordinationGeoloc").click(function(){
      var latInput = 'CoordinationLat';
      var lonInput = 'CoordinationLong';
      computeGeoLoc($.trim($('#CoordinationAddress').val()), latInput,lonInput);  
    }); 
      
    $("#CoordinationEditGeoloc").click(function(){
      var latInput = 'CoordinationEditLat';
      var lonInput = 'CoordinationEditLong';
      geolocTab = computeGeoLoc($.trim($('#CoordinationEditAddress').val()),latInput,lonInput);      
    });   
    
    function computeGeoLoc(location,latInput,lonInput){
      var geocode = 'https://nominatim.openstreetmap.org/search.php?format=json&q=' + encodeURI(location);
      // use jQuery to call the API and get the JSON results
      var latlng;
      $.ajax({
        type: 'GET',
        url: geocode,
        dataType: 'json',
        success: function(data){          
          if((typeof data[0] !== "undefined")){
            $('.CoordinationGeolocResult').removeClass( "alert-error" ).addClass( "alert-success" );
            $('.CoordinationGeolocResult').html("{{ 'GeolocCompute'|trans }}").fadeIn().delay(3200).fadeOut(300);
            var lat = data[0]["lat"];
            var lon = data[0]["lon"];      
            $("#"+latInput).val(lat);          
            $("#"+lonInput).val(lon);     
          }else{
            $('.CoordinationGeolocResult').removeClass( "alert-success" ).addClass( "alert-error" );
            $('.CoordinationGeolocResult').html("{{ 'GeolocComputeError'|trans }}").fadeIn().delay(3200).fadeOut(300);
          }
        }        
      });
    }
    
    function clickMarker(marker,map){
      var overlay = document.getElementById('classCodeMapOverlay');
      var overlayTitle = document.getElementById('classCodeMapOverlayTitleContent');
      var overlayContent = document.getElementById('classCodeMapOverlayContent');
      if (!overlayShown) {
        overlayTitle.innerHTML = marker.options.title;
        overlayContent.innerHTML = marker.options.desc;
        
        jQuery("#classCodeMapOverlay").toggle("slow");
        overlayShown = marker.options.id;
        lastSelectedMarker = marker.options.id;
      }else {
        if (overlayShown != marker.options.id) {
          overlayTitle.innerHTML = marker.options.title;
          overlayContent.innerHTML = marker.options.desc;
   
          overlayShown = marker.options.id;
          lastSelectedMarker = marker.options.id;
        }else{
          hideMapOverlay();
        }
      }
      //on centre la map sur le marker
      map.panTo(marker.getLatLng());
    }
    
    function hideMapOverlay(){
      jQuery("#classCodeMapOverlay").toggle("slow");
      overlayShown = false;
      return false;
    }
 </script>
{% endblock %} 