<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id='people_list'>
  <thead>
    <tr>
      <th>{{ 'people.displayname'|trans }} </th>
      <th>{{ 'people.login'|trans }} </th>         
      <th>{{ 'people.email'|trans }} </th> 
      <th>{{ 'people.state'|trans }} </th>                                                
    </tr>
  </thead> 
  <tbody>
  {% for p in people %}     
    <tr>
      <td>
        {{ p.getNickName }}  
      </td>
      <td>
        {{ p.getUsername }}  
      </td>                    
      <td>
        {{ p.getEmail }}  
      </td>
      <td>
        {{ p.getState }}
      </td>
    </tr> 
  {% endfor %}
  </tbody>
</table>