{% extends 'base.html.twig' %}
 
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('js/leaflet-1.3.1/leaflet.css') }}" />
  <link rel="stylesheet" href="{{ asset('js/leaflet-1.3.1/plugins/leaflet.markercluster-1.3.0/dist/MarkerCluster.Default.css') }}" />    
{% endblock %}

{% block body_title %}
    {{ 'people.list' | trans }}
{% endblock body_title %}

{% block toplinklist %}
  {% if is_granted('ROLE_ADMIN') %}
    
  {% endif %}
{% endblock toplinklist %}

{% block right_action %}
{% endblock %}
{% block body_inner %}
  <div id="classcodeadmin_content" class="col-md-12" style="display:none;">
    
    <div class="col-sm-12">
      <div id="peopleMap" class="osMap" style="height:400px;">        
    </div>
    
    <div id='people_list_div'>
       {% include '@ClassCode/People/ajax_list.html.twig' %}
    </div>
  </div>
  
  <div id="loader">
    <img src="{{ commons_url }}/images/pictos/loading_40.gif" alt="{{ 'Loading'|trans }}" title="{{ 'Loading'|trans }}">
  </div>

  

{% endblock %}

{% block javascripts %}
 {{ parent() }}
 <script type="text/javascript" src="{{ asset('js/leaflet-1.3.1/leaflet.js') }}"></script> 
 <script type="text/javascript" src="{{ asset('js/leaflet-1.3.1/plugins/leaflet.markercluster-1.3.0/dist/leaflet.markercluster.js') }}"></script> 
 <script>
   $(document).ready(function() {    
      loadDataTable();
      $('#loader').hide();
      $('#classcodeadmin_content').show();
      //map
      var peopleMap = L.map('peopleMap',{maxZoom: 18}).setView([46.52863469527167, 2.43896484375], 5),
          markers = L.markerClusterGroup({
                spiderfyOnMaxZoom: true,
                showCoverageOnHover: false,
                zoomToBoundsOnClick: true,
                polygonOptions: {
                    fillColor: '#FFFFFF',
                    color: '#FFFFFF',
                    weight: 0.5,
                    opacity: 1,
                    fillOpacity: 0.5
                    }
            }),
            lat = "",
            lon = "",
            LeafIcon = L.Icon.extend({
                options: {
                    iconSize:     [38, 95],
                    shadowSize:   [50, 64],
                    iconAnchor:   [22, 94],
                    shadowAnchor: [4, 62],
                    popupAnchor:  [-3, -76]
                }
            });
            
      var markerDetail = "";
      var lat;
      var lon;
      {% for p in peopleWithGeoloc %} 
        {% if p.getLatitude != 0 and p.getLongitude != 0 %}
          lat = "{{ p.getLatitude }}" ;
          lon = "{{ p.getLongitude }}" ;
          if((lat !="0")&&(lon != "0")){          
            markerDetail ="<p class='h4'><b>";
            markerDetail += "{{ p.getNickName }}";
            markerDetail += "</b></p>"+ "<p class='h5'><b> " + "{{ p.getEmail }} " + "</b></p>";
            markers.addLayer(L.marker(L.latLng(lat, lon)).bindPopup(markerDetail)
                .openPopup());
            peopleMap.addLayer(markers);
          }
        {% endif %}
      {% endfor %}
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 18,
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(peopleMap);
    });
    
    function loadDataTable(){
      $('#people_list').dataTable({
        "sDom": "<'row'<'col-md-6'li><'col-md-6'f>r>t<'row'<'col-md-6'><'col-md-6'p>>",        
        "oLanguage": {
          "oPaginate": {
            "sFirst":"{{ 'DataTable.FirstPage'|trans }}",
            "sLast": "{{ 'DataTable.LastPage'|trans }}",
            "sNext": "{{ 'DataTable.Next'|trans }}",
            "sPrevious": "{{ 'DataTable.Previous'|trans }}"                    
          },
          "sInfo": "{{ 'DataTable.Conclusion'|trans }}",
          "sLengthMenu": "{{ 'DataTable.Menu'|trans }}",
          "sSearch": "{{ 'DataTable.Search'|trans }}",       
          "sInfoThousands": " ",
          "sEmptyTable": "{{ 'DataTable.noData'|trans }}",
          "sInfoEmpty": "{{ 'DataTable.noData'|trans }}"
        },
        "aLengthMenu": [[100, 500, 1000,10000, -1], [100, 500, 1000,10000, "{{ 'DataTable.all'|trans }}"]],
        "iDisplayLength": 1000
      });
    }
 </script>
{% endblock %} 