{ "location":
    {
      "lat" : "{{ userlat|raw }}",
      "lng" : "{{ userlng|raw }}",
      "street" : "{{ userStreet|raw }}",
      "zipcode" : "{{ userZipcode|raw }}",
      "city" : "{{ userCity|raw }}",
      "country" : "{{ userCountry|raw }}",
      "state" : "{{ userState|raw }}",
      "formattedAddress" : "{{ userFormattedAddress|raw }}"
    }
}