<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id='meeting_list'>
  <thead>
    <tr>
      <th>{{ 'meeting.subject'|trans }} </th>
      <th>{{ 'meeting.dateTime'|trans }} </th>         
      <th>{{ 'meeting.owner'|trans }} </th>   
      <th>{{ 'meeting.state'|trans }} </th>                                    
    </tr>
  </thead> 
  <tbody>
  {% for m in meetings %}     
    <tr>
      <td>
        {{ m.getSubject }}  
      </td>
      <td>
        {{ m.getDate }} <br>{{ m.getTime }}  
      </td>                    
      <td>
        {{ m.getOwner.getNickName }}  
      </td>
      <td>
        {% if m.getState != "" %}
          {{ m.getState }}  
        {% elseif m.getLatitude ==0 and m.getLongitude ==0 %}
          {{ 'meeting.noloc'|trans }}
        {% endif %}
      </td>
    </tr> 
  {% endfor %}
  </tbody>
</table>